<ion-card>
    <div class="segment-examine">
        <ion-segment [(ngModel)]="segment_examine" color="lightblue">
            <ion-segment-button value="SEDANG" (ionSelect)="examineIsDone('SEDANG')">
                SEDANG DIPERIKSA
            </ion-segment-button>
            <ion-segment-button value="SELESAI" (ionSelect)="examineIsDone('SELESAI')">
                SELESAI DIPERIKSA
            </ion-segment-button>
        </ion-segment>
    </div>
    <ion-card-header *ngIf="!examinedone" class="header-card-prk">
        <!-- HEADER SEDANG DIPERIKSA -->
        <div>
            <span class="circle-badge-prk">4</span>
            <strong>SEDANG DIPERIKSA</strong>
            <span class="click-info" (click)="presentToast()">(Klik Untuk Informasi)</span>
        </div>
    </ion-card-header>
    <ion-card-header *ngIf="examinedone" class="header-card-prk">
        <!-- HEADER SELESAI DIPERIKSA -->
        <div>
            <span class="circle-badge">4</span>
            <strong>SELESAI DIPERIKSA</strong>
            <span class="click-info" (click)="presentToast()">(Klik Untuk Informasi)</span>
        </div>
    </ion-card-header>
    <div *ngIf="!examinedone">
        <ion-grid *ngFor="let reviewing of dataReviewing">
            <ion-row>
                <ion-col>
                    <div class="ava-wrapper">
                        <img src="assets/img/{{ reviewing.kelamin == 'P' ? 'female.png' : 'male.png' }}" class="ava-img">
                    </div>
                </ion-col>
                <ion-col col-8>
                    <ion-grid>
                        <ion-row class="rowlist">
                            <ion-col>
                                Nama Pasien
                            </ion-col>
                            <ion-col>
                                <strong>{{ reviewing.nama_pasien }}</strong>
                            </ion-col>
                        </ion-row>
                        <ion-row class="rowlist">
                            <ion-col>
                                Nomor RM
                            </ion-col>
                            <ion-col>
                                <strong>{{ reviewing.no_medrec }}</strong>
                            </ion-col>
                        </ion-row>
                        <ion-row class="rowlist">
                            <ion-col>
                                Jaminan
                            </ion-col>
                            <ion-col>
                                <strong>{{ reviewing.jaminan }}</strong>
                            </ion-col>
                        </ion-row>
                        <ion-row class="rowlist">
                            <ion-col>
                                Umur
                            </ion-col>
                            <ion-col>
                                <strong>{{ dataReviewingAge }}</strong>
                            </ion-col>
                        </ion-row>
                        <ion-row class="rowlist">
                            <ion-col>
                                Jenis Kelamin
                            </ion-col>
                            <ion-col>
                                <strong>{{ reviewing.kelamin }}</strong>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div *ngIf="!dataExamination">
            <button ion-button color="dark-blue" class="btn-selesai" (click)="setCallQueue()">MULAI PERIKSA</button>
        </div>

        <div *ngIf="dataExamination">
            <button *ngIf="!dataExaminationIsActive" ion-button color="dark-blue" class="btn-selesai" disabled>SEDANG PERIKSA</button>
        </div>
    </div>
    <div *ngIf="examinedone">
        <ion-grid *ngFor="let reviewingdone of dataReviewingDone">
            <ion-row>
                <ion-col>
                    <div class="ava-wrapper">
                        <img src="assets/img/{{ reviewingdone.kelamin == 'P' ? 'female.png' : 'male.png' }}" class="ava-img">
                    </div>
                </ion-col>
                <ion-col col-8>
                    <ion-grid>
                        <ion-row class="rowlist">
                            <ion-col>
                                Nama Pasien
                            </ion-col>
                            <ion-col>
                                <strong>{{ reviewingdone.nama_pasien }}</strong>
                            </ion-col>
                        </ion-row>
                        <ion-row class="rowlist">
                            <ion-col>
                                Nomor RM
                            </ion-col>
                            <ion-col>
                                <strong>{{ reviewingdone.no_medrec }}</strong>
                            </ion-col>
                        </ion-row>
                        <ion-row class="rowlist">
                            <ion-col>
                                Jaminan
                            </ion-col>
                            <ion-col>
                                <strong>{{ reviewingdone.jaminan }}</strong>
                            </ion-col>
                        </ion-row>
                        <ion-row class="rowlist">
                            <ion-col>
                                Umur
                            </ion-col>
                            <ion-col>
                                <strong>{{ dataReviewingDoneAge }}</strong>
                            </ion-col>
                        </ion-row>
                        <ion-row class="rowlist">
                            <ion-col>
                                Jenis Kelamin
                            </ion-col>
                            <ion-col>
                                <strong>{{ reviewingdone.kelamin }}</strong>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
        </ion-grid>
        <button ion-button color="dark-blue" *ngIf="!doneExamination" class="btn-selesai" disabled>SELESAI PROSES</button>
        <button ion-button color="dark-blue" *ngIf="doneExamination" class="btn-selesai" (click)="setFlagExamine()">SELESAI PROSES</button>
        <button ion-button color="light-blue" *ngIf="!doneExamination" class="btn-selesai" disabled>SURAT KONTROL</button>
        <button ion-button color="light-blue" *ngIf="doneExamination" class="btn-selesai" (click)="openControlMessage('ControlLetterPage')">SURAT KONTROL</button>
    </div>
</ion-card>