<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="assets/img/logomary.png" width="200px" />
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form (ngSubmit)="forgetPassword()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item>
              <ion-input type="text" placeholder="Ketikkan Email Anda..." name="email" [(ngModel)]="forgetCredentials.email" required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" color="dark-blue" full type="submit" [disabled]="!registerForm.form.valid">RESET PASSWORD</button>
        </ion-col>
      </ion-row>

    </form>
  </div>
  <button ion-button color="dark-blue" (click)="goToLogin()" block clear>Kembali</button>
</ion-content>