$grey: #e8e8f5;
$softgrey: #eceef3;
$dark-red: #9b0004;
$redlight:#ff6f59;
$red: #d9534f;
$yellowlight: #f7e14f;
$greenlight: #51CFB1;
$dark-blue:  #314961;
$darkgrey: #666666;
$lightblue: #76a6ef;
$purple : #9C27B0;
$greysoft: #f5f5f7;

page-forget {
 
  .login-content {
    background: $greysoft;
 
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
 
    .login-box {
      background: $dark-blue;
      padding: 20px 50px 0px 50px;
      margin: 50px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         padding-left: 30px !important;
         margin-bottom: 10px;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: $greenlight;
       color:white;
     }
 
     .register-btn {
       color: white;
       font-size: 0.8em;
     }
  }
 
}
