<ion-list>

  <div class="segment-queue">
    <ion-segment [(ngModel)]="segment_queue" color="lightblue">
      <ion-segment-button value="available" (ionSelect)="showPatient('available')">
        <span class="{{ segment_queue == 'available' ? 'green-circle' : 'grey-circle' }}"></span>ADA
      </ion-segment-button>
      <ion-segment-button value="pending" (ionSelect)="showPatient('pending')">
        <span class="{{ segment_queue == 'pending' ? 'yellow-circle' : 'grey-circle' }}"></span>PENDING
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-list-header>
    <ion-row class="rowlist">
      <ion-col col-6>
        <span class="circle-badge">1</span>
        <span class="title-antrian">
          <strong>ANTRIAN</strong>
          <strong *ngIf="segment_queue == 'available'" class="counter-antrian">({{ counterCountOfQueue }}) PASIEN</strong>
          <strong *ngIf="segment_queue == 'pending'" class="counter-antrian">({{ counterCountOfQueuePending }}) PASIEN</strong>
        </span>
        <span class="click-info" (click)="presentToast(1)">(Klik Untuk Informasi)</span>
      </ion-col>
      <ion-col col-4>
        <ion-searchbar [(ngModel)]="patientQueue" placeholder="Ketik Nama Pasien atau Nomor RM"></ion-searchbar>
      </ion-col>
      <ion-col col-2>
        <button *ngIf="segment_queue == 'available'" ion-button class="btn-reorder" (click)="reorder()" color="dark-blue">{{editButton}}</button>
        <button *ngIf="segment_queue != 'available'" ion-button class="btn-reorder" (click)="reorder()" color="dark-blue" disabled>{{editButton}}</button>
      </ion-col>
    </ion-row>
  </ion-list-header>

  <!-- Patient Available List-->
  <div *ngIf="segment_queue == 'available'">
    <ion-item-group [reorder]="editing" (ionItemReorder)="reorderItems($event)">
    <ion-item-sliding  *ngFor="let datapatient of dataPatient | filterBy: patientQueue;let i = index">
      <button ion-item (click)="goToPengkajian(datapatient.no_medrec, 1)">
        <ion-grid>
          <ion-row class="rowlist">
            <ion-col col-1 text-center> {{ datapatient.no_antrian }} </ion-col>
            <ion-col col-1>
              <div class=" {{datapatient.status_pasien == 'ada' ? 'status-pasien-available' : datapatient.status_pasien == 'pending' ? 'status-pasien-pending' : datapatient.status_pasien == 'lab' ? 'status-pasien-lab' : datapatient.status_pasien == 'radiologi' ? 'status-pasien-rad' : 'status-pasien-delete' }}"></div>
              <img class="avatar-pasien" src="assets/img/{{ datapatient.kelamin == 'L' ? 'male.png' : 'female.png' }}">
            </ion-col>
            <ion-col col-6>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    {{ datapatient.nama_pasien }}
                    <span class="text-status">
                      <i>{{ (datapatient.status_pasien) }}</i>
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <h6>No RM : {{ datapatient.no_medrec }} Pengkajian :
                      <span class="text-status">
                        <i class="{{ datapatient.kaji == 'Belum Dikaji' ? 'status-belum' : 'status-sudah' }}">
                          {{ datapatient.kaji }}</i>
                      </span>
                    </h6>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col class="swipe-antrian" col-3>
              <ion-icon name="ios-arrow-back"></ion-icon>
              <span>GESER KE KIRI</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </button>
      <ion-item-options>
        <button *ngIf="datapatient.status_pasien=='lab' || datapatient.status_pasien=='radiologi' || datapatient.status_pasien=='pending' || datapatient.status_pasien == 'cancel'"
          class="btn-available" (click)="changeStatusPatient(i,'ada')">
          <ion-icon name="checkmark-circle"></ion-icon> Ada</button>
        <button *ngIf="datapatient.status_pasien=='ada' || datapatient.status_pasien=='radiologi' || datapatient.status_pasien=='pending' || datapatient.status_pasien == 'cancel'"
          class="btn-lab" (click)="changeStatusPatient(i,'lab')">
          <ion-icon name="flask"></ion-icon> Lab</button>
        <button *ngIf="datapatient.status_pasien=='ada' || datapatient.status_pasien=='lab' || datapatient.status_pasien=='pending' || datapatient.status_pasien == 'cancel'"
          class="btn-rad" (click)="changeStatusPatient(i,'radiologi')">
          <ion-icon name="clipboard"></ion-icon> Rad</button>
        <button *ngIf="datapatient.status_pasien=='ada' || datapatient.status_pasien=='lab' || datapatient.status_pasien=='radiologi' || datapatient.status_pasien == 'cancel'"
          class="btn-pending" (click)="changeStatusPatient(i,'pending')">
          <ion-icon name="time"></ion-icon> Pending</button>
        <button *ngIf="datapatient.status_pasien == 'pending' || datapatient.status_pasien=='lab' || datapatient.status_pasien=='radiologi' || datapatient.status_pasien == 'ada'"
          class="btn-delete" (click)="changeStatusPatient(i,'cancel')">
          <ion-icon name="trash"></ion-icon> Cancel</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-item-group>
  </div>
  <!-- <hr class="separate"> -->

  <!-- Patient Pending List-->
  <div *ngIf="segment_queue == 'pending'">
    <ion-item-sliding *ngFor="let datapending of dataPendingPatient | filterBy: patientQueue;let j = index">
      <button ion-item (click)="goToPengkajian(datapending.no_medrec, 1)">
        <ion-grid>
          <ion-row class="rowlist">
            <ion-col col-1 text-center> {{ datapending.no_antrian }} </ion-col>
            <ion-col col-1>
              <div class=" {{datapending.status_pasien == 'ada' ? 'status-pasien-available' : datapending.status_pasien == 'pending' ? 'status-pasien-pending' : datapending.status_pasien == 'lab' ? 'status-pasien-lab' : datapending.status_pasien == 'radiologi' ? 'status-pasien-rad' : 'status-pasien-delete' }}"></div>
              <img class="avatar-pasien" src="assets/img/{{ datapending.kelamin == 'L' ? 'male.png' : 'female.png' }}">
            </ion-col>
            <ion-col col-6>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    {{ datapending.nama_pasien }}
                    <span class="text-status">
                      <i>{{ (datapending.status_pasien) }}</i>
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <h6>No RM : {{ datapending.no_medrec }} Pengkajian :
                      <span class="text-status">
                        <i class="{{ datapending.kaji == 'Belum Dikaji' ? 'status-belum' : 'status-sudah' }}">
                          {{ datapending.kaji }}</i>
                      </span>
                    </h6>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col col-3 class="swipe-antrian">
              <ion-icon name="ios-arrow-back"></ion-icon>
              <span>GESER KE KIRI</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </button>
      <ion-item-options>
        <button *ngIf="datapending.status_pasien=='lab' || datapending.status_pasien=='radiologi' || datapending.status_pasien=='pending' || datapending.status_pasien == 'cancel'"
          class="btn-available" (click)="changeStatusPatientPending(j,datapending.no_antrian,'ada')">
          <ion-icon name="checkmark-circle"></ion-icon> Ada</button>
        <button *ngIf="datapending.status_pasien=='ada' || datapending.status_pasien=='radiologi' || datapending.status_pasien=='pending' || datapending.status_pasien == 'cancel'"
          class="btn-lab" (click)="changeStatusPatientPending(j,datapending.no_antrian,'lab')">
          <ion-icon name="flask"></ion-icon> Lab</button>
        <button *ngIf="datapending.status_pasien=='ada' || datapending.status_pasien=='lab' || datapending.status_pasien=='pending' || datapending.status_pasien == 'cancel'"
          class="btn-rad" (click)="changeStatusPatientPending(j,datapending.no_antrian,'radiologi')">
          <ion-icon name="clipboard"></ion-icon> Rad</button>
        <button *ngIf="datapending.status_pasien=='ada' || datapending.status_pasien=='lab' || datapending.status_pasien=='radiologi' || datapending.status_pasien == 'cancel'"
          class="btn-pending" (click)="changeStatusPatientPending(j,datapending.no_antrian,'pending')">
          <ion-icon name="time"></ion-icon> Pending</button>
        <button *ngIf="datapending.status_pasien == 'pending' || datapending.status_pasien=='lab' || datapending.status_pasien=='radiologi' || datapending.status_pasien == 'ada'"
          class="btn-delete" (click)="changeStatusPatientPending(j,datapending.no_antrian,'cancel')">
          <ion-icon name="trash"></ion-icon> Cancel</button>
      </ion-item-options>
    </ion-item-sliding>
  </div>
</ion-list>