<ion-toolbar>
  <ion-title class="title-ion">Pilih Tanggal</ion-title>
  <ion-buttons end>
    <button ion-button (click)="dismiss()">
        CANCEL
    </button>
  </ion-buttons>
</ion-toolbar>
<ion-calendar [(ngModel)]="myDate"
(onChange)="onChange($event)"
[type]="type"
[format]="'YYYY-MM-DD'">
</ion-calendar>