.input-wrapper {
    font-size: 0.9em;
}

.datekontrol {
    border:1px solid black;
    padding: 10px;
    font-weight: bold;
}

.datetime-disabled{
    opacity: 1;
    border:0px solid black;
    
  } 

.realdate {
    border:1px solid black;
    background: white;
    padding:23px 10px;
    color:black;
    font-weight: 500;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: bold;
}

.realdate:hover:not(.disable-hover){
    background: white;
}

.rowkontrol {
    margin-left: 10px;
    align-items: center;
    font-size: 0.9em;
}

.content-modal{
    .scroll-content::-webkit-scrollbar{
        width:10px;
        background-color:#c0c0c0;
    }
}
