<ion-header>
<ion-toolbar>
  <ion-title class="title-ion">Surat Kontrol</ion-title>
  <ion-buttons end>
    <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content class="content-modal" padding>
  <h2>Data Pasien</h2>
  <ion-grid  *ngFor="let personal of datapersonal" >
        <ion-row class="rowlist">
        <ion-col>
            Nama Pasien
        </ion-col>
        <ion-col>
            <strong>{{ personal.nama_pasien }}</strong>
        </ion-col>
        <ion-col>
            Jaminan
        </ion-col>
        <ion-col>
            <strong>{{ personal.jaminan }}</strong>
        </ion-col>
        </ion-row>
        <ion-row class="rowlist">
        <ion-col>
            Nama Dokter
        </ion-col>
        <ion-col>
            <strong>{{ personal.nama_dok }}</strong>
        </ion-col>
        <ion-col>
            Tanggal Lahir
        </ion-col>
        <ion-col>
            <strong>{{ personal.tgl_lahir }}</strong>
        </ion-col>
        </ion-row>
        <ion-row class="rowlist">
        <ion-col>
            Nomor RM
        </ion-col>
        <ion-col>
            <strong>{{ personal.no_medrec }}</strong>
        </ion-col>
        <!-- <ion-col>
            Umur
        </ion-col>
        <ion-col>
            <strong>{{ personal.umur }} tahun</strong>
        </ion-col> -->
        <ion-col>
            Jenis Kelamin
        </ion-col>
        <ion-col>
            <strong>{{ personal.kelamin }}</strong>
        </ion-col>
        </ion-row>
        <!-- <ion-row class="rowlist">
        <ion-col>
            Kelas
        </ion-col>
        <ion-col>
            <strong>RJ</strong>
        </ion-col>
        <ion-col>
            Jenis Kelamin
        </ion-col>
        <ion-col>
            <strong>{{ personal.kelamin }}</strong>
        </ion-col>
        </ion-row> -->
  </ion-grid>
  <form [formGroup]="formSMS">
   <ion-row class="rowkontrol">
        <ion-col>
           Pada Hari 
        </ion-col>
        <ion-col>
                <ion-item>
                    <ion-datetime disabled class="datekontrol" displayFormat="DDDD" formControlName="dayControl" pickerFormat="DDDD" 
                    [(ngModel)]="myDate"></ion-datetime>
                </ion-item>
        </ion-col>
        <ion-col>
            Tanggal 
        </ion-col>
        <ion-col>
                <button ion-button class="realdate" (click)="createModalWithParams()">{{ thisdate }}</button>
        </ion-col>
        <ion-col>
            Jam 
        </ion-col>
        <ion-col>
                <ion-item>
                    <ion-datetime class="datekontrol" formControlName="hourControl" displayFormat="HH.00" pickerFormat="HH" [(ngModel)]="myDate"></ion-datetime>
                </ion-item>
        </ion-col>
   </ion-row>
   <ion-item>
    <ion-label color="dark">Diagnosa</ion-label>
    <ion-input placeholder="Ketik Dekripsi" formControlName="description"></ion-input>
  </ion-item>
  <ion-row>
      <ion-col>
          <button ion-button color="primary" (click)="printSubmit(formSMS.value)" block><strong>CETAK</strong></button>
      </ion-col>
      <ion-col>
          <button ion-button color="primary" (click)="smsSubmit(formSMS.value)" outline block><strong>KIRIM SMS</strong></button>
      </ion-col>
  </ion-row>
    </form>
</ion-content>