<ion-content padding>
  <h3>Poli dan Dokter</h3>
  <p>Silahkan anda pilih Poli dan Dokter untuk mengambil Data Antrian</p>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>Pilih Poli</ion-label>
            <ion-select [(ngModel)]="poli" (ngModelChange)="getDoctorByPoli()">
              <ion-option *ngFor="let datapoli of dataPoli" value="{{ datapoli.poli }}">{{ datapoli.poli}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>Pilih Dokter</ion-label>
            <ion-select [(ngModel)]="no_doctor" (ngModelChange)="getDoctorById()">
              <ion-option *ngFor="let datadoctor of dataDoctor" value="{{ datadoctor.nodok }}">{{ datadoctor.nama_dok}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button (click)="openQueue()" color="dark-blue" block>Masuk ke Antrian</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button (click)="logoutAccount()" color="dark-blue" block clear>Logout</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>