<!-- NAVBAR -->
<ion-header>
  <ion-navbar color="white">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Poli : {{ poliname }} ( {{ doctorname }} )</ion-title>
    <ion-buttons end>
      <button ion-button id="notification-button" color="dark-blue" (click)="refreshAntrian()">
        <ion-icon name="refresh" id="iconbadge"></ion-icon>
      </button>
      <a color="dark-blue" class="btn-refresh-antrian" (click)="changePoli()">GANTI POLI</a>
      <span class="datetimer">{{ showTimeNow }}</span>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<!-- END NAVBAR -->

<!-- CONTENT WRAPPER -->
<ion-content class="content-wrapper">
  <ion-grid>
    <ion-row>

      <ion-col class="item-card-start">
        <!-- CARD PANGGIL PASIEN PRIORITAS -->
        <waiting-list [dataWaitingList]="dataWaitingList" [dataPatient]="dataPatient" [poliname]="poliname" [doctorname]="doctorname"
          [counterCountOfQueue]="counterCountOfQueue" [showQueue]="showQueue"></waiting-list>
        <!-- END CARD ANTRIAN YANG AKAN DIPANGGIL -->
      </ion-col>

      <ion-col class="item-card-start">
        <!-- CARD SEDANG DIPERIKSA -->
        <examine [dataPatient]="dataPatient" [dataReviewing]="dataReviewing" [dataReviewingAge]="dataReviewingAge" [dataReviewingDone]="dataReviewingDone" 
          [dataReviewingDoneAge]="dataReviewingDoneAge" [poliname]="poliname" [doctorname]="doctorname" [no_doctor]="no_doctor" 
          [counterCountOfQueue]="counterCountOfQueue" [dataWaitingList]="dataWaitingList"
          [dataExamination]="dataExamination" [dataExaminationIsActive]="dataExaminationIsActive" [doneExamination]="doneExamination"
          (examineDone)="examineDoneChange($event)"></examine>
        <!-- END CARD SEDANG DIPERIKSA -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- CARD ANTRIAN -->
  <queue [dataPatient]="dataPatient" [dataPendingPatient]="dataPendingPatient" [counterCountOfQueue]="counterCountOfQueue"
    [poliname]="poliname" [doctorname]="doctorname" [no_doctor]="no_doctor" [nik_nurse]="nik_nurse"></queue>
  <!-- END CARD ANTRIAN -->
</ion-content>
<!-- END CONTENT WRAPPER -->