$grey: #e8e8f5;
$softgrey: #eceef3;
$softdarkgrey: #dee1e9;
$dark-red: #9b0004;
$redlight:#ff6f59;
$red: #d9534f;
$yellowlight: #f7e14f;
$greenlight: #00ff80;
$dark-blue:  #314961;
$dark-blue-light:  #536679;
$darkgrey: #666666;
$lightblue: #76a6ef;
$purple : #9C27B0;
$greysoft: #f5f5f7;
$greydark: #d3d3e6;

/* NAVBAR */

#iconbadge {
    font-size: 2em;
    margin-top: -10px;
    &.hover{
        color: white;
    }
}

.toolbar-md-white .bar-button-clear-md, .toolbar-md-white .bar-button-default-md, .toolbar-md-white .bar-button-outline-md, .toolbar-md-white .toolbar-title-md{
    color: $dark-blue;
}


 #notification-button {            
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
}


#notifications-badge {
    background-color: #f53d3d;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    right: 0px;
    border-radius: 100%;
}

/* CONTENT WRAPPER */

.content-wrapper {
    background-color: $greysoft;

    .scroll-content::-webkit-scrollbar-thumb{
    background-color:#e7eced;
    border-radius:6px;
    }
    .scroll-content::-webkit-scrollbar-thumb:hover{
    background-color:#dbe4e6;
    }
    .scroll-content::-webkit-scrollbar-thumb:active{
    background-color:#dbe4e6;
    } 
}

.rowlist {
    align-items: center;
    border-bottom:1px solid $grey;
}

.avatar-pasien {
    width: 50px;
    height: 50px;

}

.content-md hr {
    border:5px solid #d1d5dd;
    background: #d1d5dd;
}

/* STATUS PASIEN */

.status-pasien-available {
    width: 20px;
    height: 20px;
    background: $greenlight;
    border-radius: 50%;
    z-index: 9;
    position: absolute;
    bottom: 10px;
    left: 40px;
    border:3px solid white;
}


.status-pasien-pending {
    width: 20px;
    height: 20px;
    background: $yellowlight;
    border-radius: 50%;
    z-index: 9;
    position: absolute;
    bottom: 10px;
    left: 40px;
    border:3px solid white;
}

.status-pasien-lab {
    width: 20px;
    height: 20px;
    background: $lightblue;
    border-radius: 50%;
    z-index: 9;
    position: absolute;
    bottom: 10px;
    left: 40px;
    border:3px solid white;
}

.status-pasien-rad {
    width: 20px;
    height: 20px;
    background: $purple;
    border-radius: 50%;
    z-index: 9;
    position: absolute;
    bottom: 10px;
    left: 40px;
    border:3px solid white;
}

.status-pasien-delete {
    width: 20px;
    height: 20px;
    background: $redlight;
    border-radius: 50%;
    z-index: 9;
    position: absolute;
    bottom: 10px;
    left: 40px;
    border:3px solid white;
}

/* BUTTON STATUS */

.btn-available {
    background-color:$greenlight;
    color: white;
    width: 100px;
    font-size: 1.2em;
}

.btn-pending {
    background-color:$yellowlight;
    color: white;
    width: 100px;
    font-size: 1.2em;
}

.btn-lab {
    background-color:$lightblue;
    color: white;
    width: 100px;
    font-size: 1.2em;
}

.btn-rad {
    background-color:$purple;
    color: white;
    width: 100px;
    font-size: 1.2em;
}

.btn-delete {
    background-color:$redlight;
    color: white;
    width: 100px;
    font-size: 1.2em;
}

.btn-selesai {
    float: right;
    margin: 5px 10px 10px 10px;
}

.btn-selesai-prk {
    float: right;
    margin: 0px;
    color: $dark-blue;
    font-weight: bold;
}

.btn-selesai-prk-b {
    float: right;
    margin: 0px;
    color: white;
    font-weight: bold;
}

.btn-refresh-antrian {
    font-size: 1em;
    margin-left: 10px;
    color: $dark-blue;
    font-weight: bold;
    cursor: pointer;
}

.btn-reorder {
    float: right;
    font-size: 1em;
    margin-left: 1px;
    margin-right: 0px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}


/* COMPONENT */

.label-md {
    margin: 0 8px 0 0;
}

.icon-title{
    color: $blue;
    margin-right: 20px;
    font-size:1.6em;
}

.text-status {
    font-size: 0.9em;
    color: $darkgrey;
}

.counter-antrian {
    color: $red;
}

.title-antrian {
    margin-top:10px;
    vertical-align: middle;
    line-height: 4;
    color: $dark-blue;
}

.swipe-antrian {
    margin-left: 10px;
    float:right;
    text-align: right;
    margin-right: 15px;
}

.click-info {
    margin-left: 10px;
    cursor: pointer;
    color: $dark-blue;
}

.datetimer {
    color: $dark-blue;
    padding:20px;
    font-size: 1.4em;
    line-height: 2;
}

.circle-badge{
    border: 3px solid $dark-blue;
    color: $dark-blue;
    font-weight: bold;
    padding:2px 6px;
    border-radius: 50%;
    margin-right: 10px;
}

.circle-badge-prk{
    border: 3px solid $dark-blue;
    color: $dark-blue;
    font-weight: bold;
    padding:2px 6px;
    border-radius: 50%;
    margin-right: 10px;
}

.circle-badge-black{
    border: 3px solid $darkgrey;
    color: $darkgrey;
    font-weight: bold;
    padding:2px 6px;
    border-radius: 50%;
    margin-right: 10px;
}

.list-header{
    background: $grey;
}

.card-header-md {
    padding: 0;
}

.header-card {
    padding: 16px;
    align-items: center;
    font-size: 1em;
    color: $dark-blue;
    background-color: $grey;
}

.header-card-prk {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    color: $dark-blue;
    background-color: $grey;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    
}
.segment-examine .segment-md .segment-button {
    height: 35px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    color: $dark-blue-light;
    background-color: $greydark;
    border:0px;
    opacity: 1;
}

.segment-examine .segment-button.activated, .segment-examine .segment-button.segment-activated{
    height: 35px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    color: $dark-blue;
    background-color: $grey;
    border:0px;
    opacity: 1;
    font-weight: bold;
}

.segment-queue .segment-md .segment-button {
    height: 42px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    color: $dark-blue-light;
    background-color: $greydark;
    border:0px;
    opacity: 1;
}

.segment-queue .segment-button.activated, .segment-queue .segment-button.segment-activated{
    height: 42px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    color: $dark-blue;
    background-color: $grey;
    border:0px;
    opacity: 1;
    font-weight: bold;
}


.item-card-start {
    align-self:flex-start;
}

/* AVATAR */

.ava-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ava-img {
    width:80px;
    height: 80px;
    align-items: center;
}

.btn-refresh-antrian {
    font-size: 1em;
    margin-left: 10px;
}

.status-belum {
    background: #FFB74D;
    font-weight: bold;
    color: white;
    padding: 5px;
    font-style: normal;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 0.9em;
    letter-spacing: 1px;
}

.status-sudah {
    background: #81C784;
    font-weight: bold;
    color: white;
    padding: 5px;
    font-style: normal;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 0.9em;
    letter-spacing: 1px;
}

.green-circle {
    width: 20px;
    height: 20px;
    background: $greenlight;
    border-radius: 50%;
    z-index: 9;
    position: absolute;
    bottom: 12px;
    left: 20px;
    border:3px solid white;
}

.yellow-circle {
    width: 20px;
    height: 20px;
    background: $yellowlight;
    border-radius: 50%;
    z-index: 9;
    position: absolute;
    bottom: 12px;
    left: 20px;
    border:3px solid white;
}

.grey-circle {
    width: 20px;
    height: 20px;
    background: $greydark;
    border-radius: 50%;
    z-index: 9;
    position: absolute;
    bottom: 12px;
    left: 20px;
    border:3px solid white;
}