// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$SIDEMENU_TOP: #3193fe;
$SIDEMENU_BOTTOM: #4ac5ff;
$SIDEMENU_TRANSPARENCY: rgba(0,0,0,0.1);
$grey:#f0f4f8;
$blue:#54a4e7;
$darkblue:#4a95d6;
$darkgrey: #cccccc;

.menu-inner{
    width:150px;
}

.sirus-side-menu {
    background:$blue;

    .scroll-content{
        overflow-y:hidden;
    }
    .scroll-content::-webkit-scrollbar{
    width:10px;
    background-color:#f5f5f5;
} 

.scroll-content::-webkit-scrollbar-thumb{
background-color:#e7eced;
border-radius:10px;
}
.scroll-content::-webkit-scrollbar-thumb:hover{
background-color:#dbe4e6;
}
.scroll-content::-webkit-scrollbar-thumb:active{
background-color:#dbe4e6;
} 
}

.sirus-header-side-menu {
    width: 100%;
    height: auto;
    background:none;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.item-md.item-block .item-inner {
    border-bottom:0px;
}

.sirus-list-menu {
    background: transparent;
    padding: 10px;
    width: 93%;
    margin: 5px;
    color: white;
    font-size: 0.9em;
    border:0px;
    transition: all .2s ease-out;
    text-align: center;
    &:hover{
        background: $darkblue;
        border-radius:3px;
        color: white;
    }
}

.icon-menu {
    font-size: 2.5em;
}

#sirus-icon-avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border:3px solid rgba(0,0,0,0.1);
    margin: 20px 10px 10px 10px;
    transition: all .1s ease-out;
    &:hover{
        border:1px solid rgba(0,0,0,0.1);
    }
}

.list-ios > .item-block:first-child {
    border-top:0px;
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom:0px;
}

.item-ios.item-block .item-inner {
    border-bottom:0px;
}