<ion-menu [content]="content">
  <ion-content class="sirus-side-menu">

    <div class="sirus-header-side-menu">
      <img src="assets/icon/sirus.png" height="50px">
    </div>
    
    <ion-list class="sirus-list-wrapper">
      <button class="sirus-list-menu" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p.title)">
        <ion-icon name="{{ p.icon }}" class="icon-menu"></ion-icon><br>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav #content swipeBackEnabled="false"></ion-nav>