<ion-header>
  <ion-navbar color="dark-blue">
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col col-1>
            <button ion-button color="dark-blue" (click)="backPage()" class="backButton">
              <ion-icon name="md-arrow-back"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            Pengkajian
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-navbar>
  <div class="sirus-segment-menu">
    <ion-segment [(ngModel)]="reviewMenu">
      <ion-segment-button value="dewasa">
        DEWASA
      </ion-segment-button>
      <ion-segment-button value="anak" disabled="true">
        ANAK
      </ion-segment-button>
      <!-- <ion-segment-button value="bidan" >
        KEBIDANAN
      </ion-segment-button> -->
    </ion-segment>
  </div>
</ion-header>

<ion-content class="content-wrapper" [virtualScroll]="datareview" style="height: 100%">
  <div [ngSwitch]="reviewMenu">
    <ion-list *ngSwitchCase="'dewasa'">
      <ion-card padding class="form-card" *virtualItem="let kaji">
        <ion-card-header>
          <strong>FORM PENGKAJIAN</strong>
        </ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label fixed>Nama</ion-label>
                <ion-input class="boldtext" type="text" readonly value="{{ nama_pasien }}"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label fixed>No. RM</ion-label>
                <ion-input class="boldtext" type="text" readonly value="{{ no_medrec }}"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label fixed>Tanggal Lahir</ion-label>
                <ion-input class="boldtext" type="text" readonly value="{{ birthDate }}"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label fixed>Umur</ion-label>
                <ion-input class="boldtext" type="text" readonly value="{{ this.age }}"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <form [formGroup]="reviewForm">
          <hr class="separator">
          <ion-card-header>
            <strong>KELUHAN *</strong>
          </ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-input type="text" formControlName="keluhan" value="{{ kaji.keluhan }}" placeholder="Keluhan"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <hr class="separator">
          <ion-card-header>
            <strong>PEMERIKSAAN FISIK *</strong>
          </ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label fixed>TD(mmHg) :</ion-label>
                  <ion-input type="number" value="{{ kaji.td1 }}" formControlName="td1" placeholder="Sistole"></ion-input>
                  <ion-input type="text" value="/" readonly></ion-input>
                  <ion-input type="number" value="{{ kaji.td2 }}" formControlName="td2" placeholder="Diastole"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label fixed>Nadi :</ion-label>
                  <ion-input type="number" formControlName="nadi1" value="{{ kaji.nadi1 }}" placeholder="x"></ion-input>
                  <ion-input type="text" value="/" readonly></ion-input>
                  <ion-input type="text" formControlName="nadi2" readonly></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label fixed>Pernafasan :</ion-label>
                  <ion-input type="number" formControlName="pernafasan1" value="{{ kaji.pernafasan1 }}" placeholder="x"></ion-input>
                  <ion-input type="text" value="/" readonly></ion-input>
                  <ion-input type="text" formControlName="pernafasan2" readonly></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label fixed>Suhu(
                    <sup>o</sup>C) :</ion-label>
                  <ion-input type="number" formControlName="suhu" value="{{ kaji.suhu }}" placeholder="00"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label fixed>TB(cm) :</ion-label>
                  <ion-input type="number" formControlName="tb" value="{{ kaji.tb }}" placeholder="00"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label fixed>BB(kg) :</ion-label>
                  <ion-input type="number" formControlName="bb" value="{{ kaji.bb }}" placeholder="00"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <hr class="separator">

          <!-- <ion-card-header>
      <strong>SKRINING GIZI AWAL DENGAN MST</strong>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col col-1>
          <strong>NO</strong>
        </ion-col>
        <ion-col>
          <strong>PARAMETER</strong>
        </ion-col>
        <ion-col col-1>
          <strong>SKOR</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
          1
        </ion-col>
        <ion-col>
          Apakah pasien mengalami penurunan berat badan yang tidak direncanakan / tidak diinginkan dalam 6 bulan terakhir ?
        </ion-col>
        <ion-col col-1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col>
          (a) Tidak (SKOR : 0)
        </ion-col>
        <ion-col col-1>
          <ion-checkbox color="primary" value="0" [(ngModel)]="skor1a"   formControlName="skor1a" (ionChange)="onSkorChecked($event,0)"></ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col>
          (b)	Tidak yakin ( ada tanda : baju menjadi lebih longgar ) (SKOR : 2)
        </ion-col>
        <ion-col col-1>
          <ion-checkbox color="primary" value="2" [(ngModel)]="skor1b" formControlName="skor1b" (ionChange)="onSkorChecked($event,2)"></ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col>
          (c)	Ya, ada penurunan BB sebanyak :
        </ion-col>
        <ion-col col-1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col>
          •	1 – 5 kg (SKOR : 1)
        </ion-col>
        <ion-col col-1>
          <ion-checkbox color="primary" value="1" [(ngModel)]="skor1c1" formControlName="skor1c1" (ionChange)="onSkorChecked($event,1)"></ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col>
          •	6 – 10 kg (SKOR : 2)
        </ion-col>
        <ion-col col-1>
          <ion-checkbox color="primary" value="2" [(ngModel)]="skor1c2" formControlName="skor1c2" (ionChange)="onSkorChecked($event,2)"></ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col>
          •	11 – 15 kg (SKOR : 3)
        </ion-col>
        <ion-col col-1>
          <ion-checkbox color="primary" value="3" [(ngModel)]="skor1c3" formControlName="skor1c3" (ionChange)="onSkorChecked($event,3)"></ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col>
          •	> 15 kg (SKOR : 4)
        </ion-col>
        <ion-col col-1>
          <ion-checkbox color="primary" value="4" [(ngModel)]="skor1c4" formControlName="skor1c4" (ionChange)="onSkorChecked($event,4)"></ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col>
          •	Tidak tahu berapa kg penurunannya (SKOR : 2)
        </ion-col>
        <ion-col col-1>
          <ion-checkbox color="primary" value="2" [(ngModel)]="skor1c5" formControlName="skor1c5" (ionChange)="onSkorChecked($event,2)"></ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
          2
        </ion-col>
        <ion-col>
          Apakah asupan makanan pasien berkurang karena penurunan nafsu makan / kesulitan
menerima makanan ?
        </ion-col>
        <ion-col col-1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col>
          (a) Tidak (SKOR : 0)
        </ion-col>
        <ion-col col-1>
          <ion-checkbox color="primary" value="0" [(ngModel)]="skor2a" formControlName="skor2a" (ionChange)="onSkorChecked($event,0)"></ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col>
          (b)	Ya (SKOR : 1)
        </ion-col>
        <ion-col col-1>
          <ion-checkbox color="primary" value="1" [(ngModel)]="skor2b" formControlName="skor2b" (ionChange)="onSkorChecked($event,1)"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr class="separator">
    <ion-grid>
      <ion-row>
        <ion-col col-1>
        </ion-col>
        <ion-col>
          <strong>TOTAL SKOR</strong><br>
          *bila skor > 4, pasien berisiko malnutrisi, konsulkan ke ahli gizi.
        </ion-col>
        <ion-col col-1>
          <span class="score-total">{{ totalScore }}</span>
        </ion-col>
      </ion-row>
    </ion-grid> -->
          <!-- <hr class="separator"> -->
          <ion-card-header>
            <strong>SKRINING NYERI</strong>
            <!-- <span class="click-info" *ngIf="!s_nyeri" (click)="showForm('s_nyeri')">(Klik Untuk Menampilkan Form)</span>
              <span class="click-info" *ngIf="s_nyeri" (click)="showForm('s_nyeri')">(Klik Untuk Menyembunyikan Form)</span> -->
            <span class="showhide">
              <ion-icon color="darkblue" name="{{ s_nyeri == false ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}" (click)="showForm('s_nyeri')"></ion-icon>
            </span>
          </ion-card-header>
          <div *ngIf="s_nyeri">
            <ion-grid>
              <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col>
                  <ion-row radio-group formControlName="nyeri" [(ngModel)]="nyeri">
                    <ion-col col-4>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Ada nyeri (1-10)</ion-label>
                        <ion-radio item-left value="ada"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-2>
                      <ion-input *ngIf="nyeri === 'ada'" formControlName="nyeri" value="{{ nyeri_score }}" type="text" placeholder="Skor(1-10)"></ion-input>
                    </ion-col>
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Tidak ada nyeri (0)</ion-label>
                        <ion-radio item-left value="0"></ion-radio>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <hr class="separator">
          <ion-card-header>
            <strong>SKRINING RESIKO JATUH</strong>
            <!-- <span class="click-info" *ngIf="!s_resiko_jatuh" (click)="showForm('s_resiko_jatuh')">(Klik Untuk Menampilkan Form)</span>
              <span class="click-info" *ngIf="s_resiko_jatuh" (click)="showForm('s_resiko_jatuh')">(Klik Untuk Menyembunyikan Form)</span> -->
            <span class="showhide">
              <ion-icon color="darkblue" name="{{ s_resiko_jatuh == false ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}" (click)="showForm('s_resiko_jatuh')"></ion-icon>
            </span>
          </ion-card-header>
          <div *ngIf="s_resiko_jatuh">
            <ion-grid>
              <ion-row>
                <ion-col col-1>
                  <strong>NO</strong>
                </ion-col>
                <ion-col>
                  <strong>PARAMETER</strong>
                </ion-col>
                <ion-col col-3>
                  <strong>JAWABAN</strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                  a
                </ion-col>
                <ion-col>
                  Apakah pasien tampak tidak seimbang / limbung / sempoyongan saat berjalan ?
                </ion-col>
                <ion-col col-4>
                  <ion-row radio-group formControlName="resiko_jatuh_a" [(ngModel)]="resiko_jatuh_a">
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Ya</ion-label>
                        <ion-radio item-left value="ya"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Tidak</ion-label>
                        <ion-radio item-left value="tidak"></ion-radio>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                  b
                </ion-col>
                <ion-col>
                  Apakah pasien memegang pinggiran kursi atau meja / benda lain sebagai penopang saat akan duduk ?
                </ion-col>
                <ion-col col-4>
                  <ion-row radio-group formControlName="resiko_jatuh_b" [(ngModel)]="resiko_jatuh_b">
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Ya</ion-label>
                        <ion-radio item-left value="ya"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Tidak</ion-label>
                        <ion-radio item-left value="tidak"></ion-radio>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <hr class="separator">
          <ion-card-header>
            <strong>SKRINING GIZI</strong>
            <!-- <span class="click-info" *ngIf="!s_gizi" (click)="showForm('s_gizi')">(Klik Untuk Menampilkan Form)</span>
              <span class="click-info" *ngIf="s_gizi" (click)="showForm('s_gizi')">(Klik Untuk Menyembunyikan Form)</span> -->
            <span class="showhide">
              <ion-icon color="darkblue" name="{{ s_gizi == false ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}" (click)="showForm('s_gizi')"></ion-icon>
            </span>
          </ion-card-header>
          <div *ngIf="s_gizi">
            <ion-grid>
              <ion-row>
                <ion-col col-1>
                  <strong>NO</strong>
                </ion-col>
                <ion-col>
                  <strong>PARAMETER</strong>
                </ion-col>
                <ion-col col-3>
                  <strong>JAWABAN</strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                  1
                </ion-col>
                <ion-col>
                  Apakah pasien mengalami penurunan BB yang tidak diinginkan dalam 6 bulan terakhir ?
                </ion-col>
                <ion-col col-4>
                  <ion-row radio-group formControlName="gizi1" [(ngModel)]="gizi1" (ionChange)="onChecked($event,'gizi1')">
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Ya</ion-label>
                        <ion-radio item-left value="ya"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Tidak</ion-label>
                        <ion-radio item-left value="tidak"></ion-radio>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                  2
                </ion-col>
                <ion-col>
                  Apakah asupan makanan berkurang karena tidak nafsu makan ?
                </ion-col>
                <ion-col col-4>
                  <ion-row radio-group formControlName="gizi2" [(ngModel)]="gizi2" (ionChange)="onChecked($event,'gizi2')">
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Ya</ion-label>
                        <ion-radio item-left value="ya"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Tidak</ion-label>
                        <ion-radio item-left value="tidak"></ion-radio>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                  3
                </ion-col>
                <ion-col>
                  Pasien dengan diagnose khusus:
                </ion-col>
                <ion-col col-4>
                  <ion-row radio-group formControlName="gizi3" [(ngModel)]="gizi3" (ionChange)="onChecked($event,'gizi3')">
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Ya</ion-label>
                        <ion-radio item-left value="ya"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Tidak</ion-label>
                        <ion-radio item-left value="tidak"></ion-radio>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>

                </ion-col>
                <ion-col>
                  (DM/Kemoterapi/Hemodialisa/Geriatri/Imunitas Menurun/Lain-lain) Sebutkan :
                </ion-col>
                <ion-col col-4>
                  <ion-input formControlName="gizi3_lainnya" value="{{ kaji.gizi3_lainnya }}" type="text" placeholder="Keterangan"></ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <hr class="separator">
          <!-- <ion-row>
        <ion-col col-1>
          4
        </ion-col>
        <ion-col>
          Apakah terdapat penyakit atau keadaan yang mengakibatkan pasien berisiko mengalami nutrisi ?
        </ion-col>
        <ion-col col-4>
          <ion-row radio-group formControlName="gizi4" [(ngModel)]="gizi4">
                <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Ya</ion-label>
                  <ion-radio value="ya"></ion-radio>
                </ion-item>
                </ion-col>
                <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Tidak</ion-label>
                  <ion-radio value="tidak"></ion-radio>
                </ion-item>
                </ion-col>
           </ion-row>
        </ion-col>
      </ion-row> -->

          <ion-card-header>
            <strong>RESIKO JATUH TIME UP &amp; GO </strong>
            <span class="showhide">
              <ion-icon color="darkblue" name="{{ resiko_jatuh == false ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}" (click)="showForm('resiko_jatuh')"></ion-icon>
            </span>
          </ion-card-header>
          <div *ngIf="resiko_jatuh">
            <ion-grid>
              <ion-row class="rowheader">
                <ion-col col-1>
                  <strong>NO</strong>
                </ion-col>
                <ion-col>
                  <strong>PENILAIAN / PENGKAJIAN</strong>
                </ion-col>
                <ion-col col-4>
                  <strong>ACTION</strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                  A
                </ion-col>
                <ion-col>
                  Cara berjalan pasien ( salah satu atau lebih )
                  <br> 1. Tidak seimbang / sempoyongan / limbung
                </ion-col>
                <ion-col col-4>
                  <ion-row radio-group formControlName="resikoA1" [(ngModel)]="resikoA1">
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Ya</ion-label>
                        <ion-radio item-left value="ya"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Tidak</ion-label>
                        <ion-radio item-left value="tidak"></ion-radio>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col>
                  2. Jalan dengan menggunakan alat bantu ( kruk, tripot, kursi, orang lain )
                </ion-col>
                <ion-col col-4>
                  <ion-row radio-group formControlName="resikoA2" [(ngModel)]="resikoA2">
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Ya</ion-label>
                        <ion-radio item-left value="ya"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Tidak</ion-label>
                        <ion-radio item-left value="tidak"></ion-radio>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                  B
                </ion-col>
                <ion-col>
                  Menopang saat akan duduk: Tampak memegang pinggiran kursi atau meja / benda lain sebagai penopang saat akan duduk
                </ion-col>
                <ion-col col-4>
                  <ion-row radio-group formControlName="resikoB1" [(ngModel)]="resikoB1">
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Ya</ion-label>
                        <ion-radio item-left value="ya"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Tidak</ion-label>
                        <ion-radio item-left value="tidak"></ion-radio>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
            <br>
            <ion-grid>
              <ion-row class="rowheader">
                <ion-col col-1>
                  <strong>NO</strong>
                </ion-col>
                <ion-col>
                  <strong>HASIL</strong>
                </ion-col>
                <ion-col col-5>
                  <strong>PENILAIAN / PENGKAJIAN</strong>
                </ion-col>
                <ion-col>
                  <strong>KETERANGAN</strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                  1
                </ion-col>
                <ion-col>
                  Tidak berisiko
                </ion-col>
                <ion-col col-5>
                  Tidak ditemukan A &amp; B
                </ion-col>
                <ion-col>
                  <ion-input formControlName="resikoHasil1" type="text" value="{{ kaji.resikoHasil1 }}" placeholder="Keterangan"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                  2
                </ion-col>
                <ion-col>
                  Resiko Rendah
                </ion-col>
                <ion-col col-5>
                  Ditemukan salah satu dari A &amp; B
                </ion-col>
                <ion-col>
                  <ion-input formControlName="resikoHasil2" type="text" value="{{ kaji.resikoHasil2 }}" placeholder="Keterangan"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                  3
                </ion-col>
                <ion-col>
                  Resiko Tinggi
                </ion-col>
                <ion-col col-5>
                  Ditemukan A &amp; B
                </ion-col>
                <ion-col>
                  <ion-input formControlName="resikoHasil3" type="text" value="{{ kaji.resikoHasil3 }}" placeholder="Keterangan"></ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>
            <br>
            <ion-grid>
              <ion-row class="rowheader">
                <ion-col col-1>
                  <strong>NO</strong>
                </ion-col>
                <ion-col>
                  <strong>HASIL KERJA</strong>
                </ion-col>
                <ion-col>
                  <strong>TINDAKAN</strong>
                </ion-col>
                <ion-col>
                  <strong>ACTION</strong>
                </ion-col>
                <ion-col>
                  <strong>KETERANGAN</strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                  1
                </ion-col>
                <ion-col>
                  Tidak berisiko
                </ion-col>
                <ion-col>
                  Tidak ada tindakan
                </ion-col>
                <ion-col col-4>
                  <ion-row radio-group formControlName="resikoTindakan1action" [(ngModel)]="resikoTindakan1action">
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Ya</ion-label>
                        <ion-radio item-left value="ya"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Tidak</ion-label>
                        <ion-radio item-left value="tidak"></ion-radio>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col>
                  <ion-input formControlName="resikoTindakan1" type="text" value="{{ kaji.resikoTindakan1 }}" placeholder="Keterangan"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                  2
                </ion-col>
                <ion-col>
                  Resiko Rendah
                </ion-col>
                <ion-col>
                  Edukasi
                </ion-col>
                <ion-col col-4>
                  <ion-row radio-group formControlName="resikoTindakan2action" [(ngModel)]="resikoTindakan2action">
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Ya</ion-label>
                        <ion-radio item-left value="ya"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Tidak</ion-label>
                        <ion-radio item-left value="tidak"></ion-radio>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col>
                  <ion-input formControlName="resikoTindakan2" type="text" value="{{ kaji.resikoTindakan2 }}" placeholder="Keterangan"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                  3
                </ion-col>
                <ion-col>
                  Resiko Tinggi
                </ion-col>
                <ion-col>
                  Pasang pin warna kuning &amp; edukasi
                </ion-col>
                <ion-col col-4>
                  <ion-row radio-group formControlName="resikoTindakan3action" [(ngModel)]="resikoTindakan3action">
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Ya</ion-label>
                        <ion-radio item-left value="ya"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-6>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Tidak</ion-label>
                        <ion-radio item-left value="tidak"></ion-radio>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col>
                  <ion-input formControlName="resikoTindakan3" value="{{ kaji.resikoTindakan3 }}" type="text" placeholder="Keterangan"></ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <hr class="separator">

          <ion-card-header>
            <strong>STATUS FUNGSIONAL</strong>
            <!-- <span class="click-info" *ngIf="!s_fungsional" (click)="showForm('s_fungsional')">(Klik Untuk Menampilkan Form)</span>
              <span class="click-info" *ngIf="s_fungsional" (click)="showForm('s_fungsional')">(Klik Untuk Menyembunyikan Form)</span> -->
            <span class="showhide">
              <ion-icon color="darkblue" name="{{ s_fungsional == false ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}" (click)="showForm('s_fungsional')"></ion-icon>
            </span>
          </ion-card-header>
          <div *ngIf="s_fungsional">
            <ion-grid>
              <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col>
                  <ion-row radio-group formControlName="status_fungsional" [(ngModel)]="status_fungsional">
                    <ion-col col-4>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Mandiri</ion-label>
                        <ion-radio item-left value="mandiri"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-4>
                      <ion-item class="item-checklist">
                        <ion-label class="label-checklist">Perlu bantuan</ion-label>
                        <ion-radio item-left value="perlu bantuan"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col col-4>
                      <ion-input formControlName="status_fungsional_ket" value="{{ kaji.status_fungsional_ket }}" type="text" placeholder="Keterangan"></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <hr class="separator">
          <!-- <ion-card-header>
            <strong>ASSESMEN DOKTER</strong>
            <span class="showhide">
              <ion-icon color="darkblue" name="{{ as_dokter == false ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}"
                (click)="showForm('as_dokter')"></ion-icon>
            </span>
          </ion-card-header>
          <div *ngIf="as_dokter">
            <ion-grid>
              <ion-row>
                <ion-col col-1>
                  A
                </ion-col>
                <ion-col>
                  <strong>Anamnesa :</strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-input formControlName="anamnesa_keluhan" value="{{ kaji.anamnesa_keluhan }}" type="text" placeholder="Keluhan Utama"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-input formControlName="anamnesa_riwayat_penyakit" value="{{ kaji.anamnesa_riwayat_penyakit }}" type="text" placeholder="Riwayat Penyakit Sekarang"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-1>
                  B
                </ion-col>
                <ion-col>
                  <strong>Pemeriksaan Fisik</strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <ion-col col-2>
                      Kepala
                    </ion-col>
                    <ion-col col-4>
                      <ion-select interface="popover" formControlName="fisik_kepala" [(ngModel)]="fisik_kepala">
                        <ion-option [selected]="true" value="normal">Normal</ion-option>
                        <ion-option value="abnormal">Abnormal</ion-option>
                      </ion-select>
                    </ion-col>
                    <ion-col col-2>
                      Mata
                    </ion-col>
                    <ion-col col-4>
                      <ion-select interface="popover" formControlName="fisik_mata" [(ngModel)]="fisik_mata">
                        <ion-option [selected]="true" value="normal">Normal</ion-option>
                        <ion-option value="abnormal">Abnormal</ion-option>
                      </ion-select>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <ion-col col-2>
                      Leher
                    </ion-col>
                    <ion-col col-4>
                      <ion-select interface="popover" formControlName="fisik_leher" [(ngModel)]="fisik_leher">
                        <ion-option [selected]="true" value="normal">Normal</ion-option>
                        <ion-option value="abnormal">Abnormal</ion-option>
                      </ion-select>
                    </ion-col>
                    <ion-col col-2>
                      THT
                    </ion-col>
                    <ion-col col-4>
                      <ion-select interface="popover" formControlName="fisik_tht" [(ngModel)]="fisik_tht">
                        <ion-option [selected]="true" value="normal">Normal</ion-option>
                        <ion-option value="abnormal">Abnormal</ion-option>
                      </ion-select>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <ion-col col-2>
                      Mulut
                    </ion-col>
                    <ion-col col-4>
                      <ion-select interface="popover" formControlName="fisik_mulut" [(ngModel)]="fisik_mulut">
                        <ion-option [selected]="true" value="normal">Normal</ion-option>
                        <ion-option value="abnormal">Abnormal</ion-option>
                      </ion-select>
                    </ion-col>
                    <ion-col col-2>
                      Jantung
                    </ion-col>
                    <ion-col col-4>
                      <ion-select interface="popover" formControlName="fisik_jantung" [(ngModel)]="fisik_jantung">
                        <ion-option [selected]="true" value="normal">Normal</ion-option>
                        <ion-option value="abnormal">Abnormal</ion-option>
                      </ion-select>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col>
                  <ion-row>

                    <ion-col col-2>
                      Paru
                    </ion-col>
                    <ion-col col-4>
                      <ion-select interface="popover" formControlName="fisik_paru" [(ngModel)]="fisik_paru">
                        <ion-option [selected]="true" value="normal">Normal</ion-option>
                        <ion-option value="abnormal">Abnormal</ion-option>
                      </ion-select>
                    </ion-col>

                    <ion-col col-2>
                      Abdomen
                    </ion-col>
                    <ion-col col-4>
                      <ion-select interface="popover" formControlName="fisik_abdomen" [(ngModel)]="fisik_abdomen">
                        <ion-option [selected]="true" value="normal">Normal</ion-option>
                        <ion-option value="abnormal">Abnormal</ion-option>
                      </ion-select>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col>
                  <ion-row>
                    <ion-col col-2>
                      Genitalia
                    </ion-col>
                    <ion-col col-4>
                      <ion-select interface="popover" formControlName="fisik_genitalia" [(ngModel)]="fisik_genitalia">
                        <ion-option [selected]="true" value="normal">Normal</ion-option>
                        <ion-option value="abnormal">Abnormal</ion-option>
                      </ion-select>
                    </ion-col>
                    <ion-col col-2>
                      Ekstremitas
                    </ion-col>
                    <ion-col col-4>
                      <ion-select interface="popover" formControlName="fisik_ekstremitas" [(ngModel)]="fisik_ekstremitas">
                        <ion-option [selected]="true" value="normal">Normal</ion-option>
                        <ion-option value="abnormal">Abnormal</ion-option>
                      </ion-select>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col col-4>
                  Khusus Pediatric :
                </ion-col>
                <ion-col col-2>
                  Status Gizi :
                </ion-col>
                <ion-col col-4>
                  <ion-select interface="popover" formControlName="status_gizi" [(ngModel)]="status_gizi">
                    <ion-option value="gizi kurang">Gizi Kurang / Buruk</ion-option>
                    <ion-option value="gizi cukup">Gizi Cukup</ion-option>
                    <ion-option value="gizi lebih">Gizi Lebih</ion-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col>
                  Pemeriksaan Gigi :
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col col-4>
                  <ion-select interface="popover" formControlName="pemeriksaan_gigi" [(ngModel)]="pemeriksaan_gigi">
                    <ion-option value="karies">Karies</ion-option>
                    <ion-option value="infeksi">Infeksi</ion-option>
                    <ion-option value="berlubang">Berlubang</ion-option>
                    <ion-option value="karang gigi">Karang Gigi</ion-option>
                    <ion-option value="lain-lain">Lain-lain</ion-option>
                  </ion-select>
                </ion-col>
                <ion-col col-2>
                  <ion-input *ngIf="pemeriksaan_gigi === 'lain-lain'" formControlName="pemeriksaan_gigi_ket" value="{{ kaji.pemeriksaan_gigi_ket }}"
                    type="text" placeholder="Keterangan"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                  C
                </ion-col>
                <ion-col>
                  <strong>Status Lokalis :</strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-input formControlName="status_lokalis" value="{{ kaji.status_lokalis }}" type="text" placeholder="Keterangan"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-1>
                  D
                </ion-col>
                <ion-col>
                  <strong>Pemeriksaan Penunjang :</strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-input formControlName="pemeriksaan_penunjang" value="{{ kaji.pemeriksaan_penunjang }}" type="text" placeholder="Keterangan"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-1>
                  E
                </ion-col>
                <ion-col>
                  <strong>Diagnosis :</strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-input formControlName="diagnosis" value="{{ kaji.diagnosis }}" type="text" placeholder="Keterangan"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-1>
                  F
                </ion-col>
                <ion-col>
                  <strong>Rencana (Edukasi, diagnostic, terapi, rujukan) :</strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-input formControlName="rencana" value="{{ kaji.rencana }}" type="text" placeholder="Keterangan"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col>
                  <strong>Dirujuk :</strong>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1>
                </ion-col>
                <ion-col col-4>
               
                  <ion-select interface="popover" formControlName="dirujuk" [(ngModel)]="dirujuk">
                    <ion-option value="karies">Ahli Gizi Klinik</ion-option>
                    <ion-option value="rehabilitasi medik">Rehabilitasi Medik</ion-option>
                    <ion-option value="spesialis lain">Spesialis Lain</ion-option>
                    <ion-option value="tim nyeri">Tim Nyeri</ion-option>
                    <ion-option value="lain-lain">Lain-lain</ion-option>
                  </ion-select>
                </ion-col>
                <ion-col col-2>
                  <ion-input *ngIf="dirujuk === 'lain-lain'" formControlName="dirujuk_lainnya" value="{{ kaji.dirujuk_lainnya }}" type="text"
                    placeholder="Keterangan"></ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div> -->
          <ion-card-header>
            <strong>PERAWAT YANG MELAKUKAN ASSESMEN</strong>
          </ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label fixed>Nama</ion-label>
                  <ion-input class="boldtext" type="text" readonly value="{{ nurse }}"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label fixed>NIK</ion-label>
                  <ion-input class="boldtext" type="text" readonly value="{{ nik }}"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <stylus-sirus (stylusChanged)="stylusChange($event)"></stylus-sirus>
          <!-- <sirus-stylus [pen]="pen" height="200" width="270" language="id_ID" (onInkChange)="inkChange($event)">
          </sirus-stylus> -->
          <button *ngIf="!nokaji" (click)="submitPengkajian(reviewForm.value)" ion-button block>SIMPAN PENGKAJIAN</button>
          <button *ngIf="nokaji" (click)="updateSubmitPengkajian(reviewForm.value)" ion-button block>UBAH PENGKAJIAN</button>
        </form>
        <!-- </ion-list> -->
      </ion-card>
      <!-- </div> -->
    </ion-list>

    <ion-list *ngSwitchCase="'anak'">
      <kid-review-page [nama-pasien]="nama_pasien" [no-medrec]="no_medrec" [birthDate]="birthDate"></kid-review-page>
    </ion-list>
    <!-- <ion-list *ngSwitchCase="'bidan'" disabled>
      <midwife-review-page [nama-pasien]="nama_pasien" [no-medrec]="no_medrec" [birthDate]="birthDate"></midwife-review-page>
    </ion-list> -->
  </div>
</ion-content>