<ion-card padding>
  <ion-card-header>
    <strong>FORM PENGKAJIAN</strong>
  </ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label fixed>Nama</ion-label>
          <ion-input class="boldtext" type="text" readonly value="{{ nama_pasien }}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>No. RM</ion-label>
          <ion-input class="boldtext" type="text" readonly value="{{ no_medrec }}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Tanggal Lahir</ion-label>
          <ion-input class="boldtext" type="text" readonly value="{{ birthDate }}"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="childReviewForm" *ngFor="let kaji of datareview">
    <hr class="separator">
    <ion-card-header>
      <strong>KELUHAN</strong>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input type="text" formControlName="keluhan" value="{{ kaji.keluhan }}" placeholder="keluhan"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr class="separator">
    <ion-card-header>
      <strong>PEMERIKSAAN FISIK *</strong>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label fixed>TD Sistole :</ion-label>
            <ion-input type="number" value="{{ kaji.td1 }}" formControlName="td1" placeholder="100"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label fixed>TD Diastole :</ion-label>
            <ion-input type="number" value="{{ kaji.td2 }}" formControlName="td2" placeholder="100"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label fixed>Nadi :</ion-label>
            <ion-input formControlName="nadi"  value="{{ kaji.nadi }}" type="number" placeholder="100"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label fixed>Pernafasan :</ion-label>
            <ion-input formControlName="penafasan"  value="{{ kaji.penafasan }}" type="number" placeholder="100"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label fixed>Suhu :</ion-label>
            <ion-input formControlName="suhu"  value="{{ kaji.suhu }}" type="number" placeholder="00"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label fixed>TB :</ion-label>
            <ion-input formControlName="tb"  value="{{ kaji.tb }}" type="number" placeholder="00"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label fixed>BB :</ion-label>
            <ion-input formControlName="bb"  value="{{ kaji.bb }}" type="number" placeholder="00"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col col-2>
          Riwayat Alergi
        </ion-col>
        <ion-col col-2>
          a. Obat
        </ion-col>
        <ion-col>
          <ion-row radio-group formControlName="riwayatAlergiObat" [(ngModel)]="riwayatAlergiObat">
            <ion-col col-6>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Ya</ion-label>
                <ion-radio value="ya"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Tidak</ion-label>
                <ion-radio value="tidak"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-input type="text" formControlName="riwayatAlergiObatKet" value="{{ kaji.riwayatAlergiObatKet }}" placeholder="Keterangan"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2>

        </ion-col>
        <ion-col col-2>
          b. Makanan
        </ion-col>
        <ion-col>
          <ion-row radio-group formControlName="riwayatAlergiMakanan" [(ngModel)]="riwayatAlergiMakanan" >
            <ion-col col-6>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Ya</ion-label>
                <ion-radio value="ya"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Tidak</ion-label>
                <ion-radio value="tidak"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-input type="text" formControlName="riwayatAlergiMakananKet" value="{{ kaji.riwayatAlergiMakananKet }}" placeholder="Keterangan"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2>

        </ion-col>
        <ion-col col-2>
          c. Pantangan
        </ion-col>
        <ion-col>
          <ion-input formControlName="riwayatAlergiPantangan" value="{{ kaji.riwayatAlergiPantangan }}" type="text" placeholder="Keterangan"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr class="separator">
    <ion-card-header>
      <strong>STATUS NUTRISI</strong>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          Nilai IMT sesuai standar (IMT = BB[kg]/TB[m]<sup>2</sup>) :
        </ion-col>
        <ion-col col-6>
          <ion-row radio-group formControlName="nilaiIMT" [(ngModel)]="nilaiIMT">
            <ion-col col-6>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Ya (18.5 -24.9)</ion-label>
                <ion-radio value="ya"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Tidak (
                  <18.5 ->24.9)</ion-label>
                <ion-radio value="tidak"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr class="separator">
    <ion-card-header>
      <strong>PENGKAJIAN NYERI</strong>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          Keluhan Nyeri
        </ion-col>
        <ion-col>
          <ion-row radio-group formControlName="keluhanNyeri" [(ngModel)]="keluhanNyeri">
            <ion-col col-6>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Ada Nyeri</ion-label>
                <ion-radio value="ada"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Tidak Ada Nyeri</ion-label>
                <ion-radio value="tidak"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr class="separator">
    <ion-grid>
      <ion-row radio-group formControlName="nips" [(ngModel)]="nips">
        <ion-col col-3>
          <ion-item class="item-checklist">
            <ion-label class="label-checklist"><strong>NIPS</strong></ion-label>
            <ion-radio value="nips"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="rowheader">
        <ion-col>
          <strong>PENGKAJIAN NEONATUS 0 - 2 BULAN</strong>
        </ion-col>
      </ion-row>
      <ion-row class="rowheader">
        <ion-col col-3>
          <strong>SKALA NYERI NIPS</strong>
        </ion-col>
        <ion-col col-3>
          <strong>PARAMETER PENILAIAN</strong>
        </ion-col>
        <ion-col col-3>
          <strong>SKOR</strong>
        </ion-col>
        <ion-col col-3>
          <strong>HASIL PENILAIAN</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          Ekspresi Wajah
        </ion-col>
        <ion-col col-3>
          <ion-row>
            <ion-col>
              (0) Relaks
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              (1) Meringis
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-row radio-group formControlName="nipsEkspresiWajah" [(ngModel)]="nipsEkspresiWajah">
            <ion-col col-6>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">0</ion-label>
                    <ion-radio value="0"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">1</ion-label>
                    <ion-radio value="1"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-input type="text" formControlName="nipsEkspresiWajahHasil" value="{{ kaji.nipsEkspresiWajahHasil }}" placeholder="Hasil Penilaian"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          Menangis
        </ion-col>
        <ion-col col-3>
          <ion-row>
            <ion-col>
              (0) Tidak Menangis
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              (1) Merintih
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              (2) Keras dan terus menerus
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-row radio-group formControlName="nipsMenangis" [(ngModel)]="nipsMenangis">
            <ion-col col-6>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">0</ion-label>
                    <ion-radio value="0"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">1</ion-label>
                    <ion-radio value="1"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">2</ion-label>
                    <ion-radio value="2"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-input type="text" formControlName="nipsMenangisHasil" value="{{ kaji.nipsMenangisHasil }}" placeholder="Hasil Penilaian"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          Pernafasan
        </ion-col>
        <ion-col col-3>
          <ion-row>
            <ion-col>
              (0) Normal
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              (1) Tidak Normal
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-row radio-group formControlName="nipsPernafasan" [(ngModel)]="nipsPernafasan">
            <ion-col col-6>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">0</ion-label>
                    <ion-radio value="0"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">1</ion-label>
                    <ion-radio value="1"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-input type="text" formControlName="nipsPernafasanHasil" value="{{ kaji.nipsPernafasanHasil }}" placeholder="Hasil Penilaian"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          Pergelangan tangan
        </ion-col>
        <ion-col col-3>
          <ion-row>
            <ion-col>
              (0) Relaks
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              (1) Kaku/Fleksi
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-row radio-group formControlName="nipsPergelanganTangan" [(ngModel)]="nipsPergelanganTangan">
            <ion-col col-6>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">0</ion-label>
                    <ion-radio value="0"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">1</ion-label>
                    <ion-radio value="1"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-input type="text" formControlName="nipsPergelanganTanganHasil" value="{{ kaji.nipsPergelanganTanganHasil }}" placeholder="Hasil Penilaian"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          Kaki
        </ion-col>
        <ion-col col-3>
          <ion-row>
            <ion-col>
              (0) Relaks
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              (1) Kaku/Fleksi
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-row radio-group formControlName="nipsKaki" [(ngModel)]="nipsKaki">
            <ion-col col-6>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">0</ion-label>
                    <ion-radio value="0"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">1</ion-label>
                    <ion-radio value="1"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-input type="text" formControlName="nipsKakiHasil" value="{{ kaji.nipsKakiHasil }}" placeholder="Hasil Penilaian"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          Kesadaran
        </ion-col>
        <ion-col col-3>
          <ion-row>
            <ion-col>
              (0) Tenang
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              (1) Gelisah
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-row radio-group formControlName="nipsKesadaran" [(ngModel)]="nipsKesadaran">
            <ion-col col-6>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">0</ion-label>
                    <ion-radio value="0"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">1</ion-label>
                    <ion-radio value="1"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-input type="text" formControlName="nipsKesadaranHasil" value="{{ kaji.nipsKesadaranHasil }}" placeholder="Hasil Penilaian"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr class="separator">
    <ion-grid>
      <ion-row radio-group formControlName="flacc" [(ngModel)]="flacc">
        <ion-col col-3>
          <ion-item class="item-checklist">
            <ion-label class="label-checklist"><strong>FLACC</strong></ion-label>
            <ion-radio value="flacc"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="rowheader">
        <ion-col>
          <strong>PENGKAJIAN NEONATUS 3 BULAN - 2 TAHUN</strong>
        </ion-col>
      </ion-row>
      <ion-row class="rowheader">
        <ion-col col-3>
          <strong>SKALA NYERI NIPS</strong>
        </ion-col>
        <ion-col col-3>
          <strong>PARAMETER PENILAIAN</strong>
        </ion-col>
        <ion-col col-3>
          <strong>SKOR</strong>
        </ion-col>
        <ion-col col-3>
          <strong>HASIL PENILAIAN</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          Wajah
        </ion-col>
        <ion-col col-3>
          <ion-row>
            <ion-col>
              (0) Ekspresi Wajah Normal
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              (1) Ekspresi wajah, kadang meringis menahan sakit
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              (2) Sering meringis, menggertakan gigi menahan sakit
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-row radio-group formControlName="flaccWajah" [(ngModel)]="flaccWajah">
            <ion-col col-6>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">0</ion-label>
                    <ion-radio value="0"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">1</ion-label>
                    <ion-radio value="1"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">2</ion-label>
                    <ion-radio value="2"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-input type="text" formControlName="flaccWajahHasil" value="{{ kaji.flaccWajahHasil }}" placeholder="Hasil Penilaian"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          Kaki
        </ion-col>
        <ion-col col-3>
          <ion-row>
            <ion-col>
              (0) Posisi kaki normal atau rileks
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              (1) Kaki kaku, gelisah
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              (2) Kaki menendang-nendang
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-row radio-group formControlName="flaccKaki" [(ngModel)]="flaccKaki">
            <ion-col col-6>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">0</ion-label>
                    <ion-radio value="0"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">1</ion-label>
                    <ion-radio value="1"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">2</ion-label>
                    <ion-radio value="2"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-input type="text" formControlName="flaccKakiHasil" value="{{ kaji.flaccKakiHasil }}" placeholder="Hasil Penilaian"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          Aktifitas
        </ion-col>
        <ion-col col-3>
          <ion-row>
            <ion-col>
              (0) Berbaring tenang, posisi normal, gerakan normal
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              (1) Gelisah, berguling-guling
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              (2) Kaku, gerakan abnormal (posisi tubuh melengkung atau gerakan menyentak)
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-row radio-group formControlName="flaccAktifitas" [(ngModel)]="flaccAktifitas">
            <ion-col col-6>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">0</ion-label>
                    <ion-radio value="0"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">1</ion-label>
                    <ion-radio value="1"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">2</ion-label>
                    <ion-radio value="2"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-input type="text" formControlName="flaccAktifitasHasil" value="{{ kaji.flaccAktifitasHasil }}" placeholder="Hasil Penilaian"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          Menangis
        </ion-col>
        <ion-col col-3>
          <ion-row>
            <ion-col>
              (0) Tidak Menangis (tenang)
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              (1) Mengerang atau merengek, kadang-kadang mengeluh
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              (2) Menangis terus-menerus, menjerit, sering kali mengeluh
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-row radio-group formControlName="flaccMenangis" [(ngModel)]="flaccMenangis">
            <ion-col col-6>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">0</ion-label>
                    <ion-radio value="0"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">1</ion-label>
                    <ion-radio value="1"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">2</ion-label>
                    <ion-radio value="2"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-input type="text" formControlName="flaccMenangisHasil" value="{{ kaji.flaccMenangisHasil }}" placeholder="Hasil Penilaian"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          Bicara atau bersuara
        </ion-col>
        <ion-col col-3>
          <ion-row>
            <ion-col>
              (0) Bicara atau bersuara normal, sesuai usia
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              (1) Tenang setelah dipegang, dipeluk, digendong, atau diajak bicara
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              (2) Sulit ditenangkan dengan kata-kata
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-row radio-group formControlName="flaccBersuara" [(ngModel)]="flaccBersuara">
            <ion-col col-6>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">0</ion-label>
                    <ion-radio value="0"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">1</ion-label>
                    <ion-radio value="1"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item class="item-checklist">
                    <ion-label class="label-checklist">2</ion-label>
                    <ion-radio value="2"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-input type="text" formControlName="flaccBersuaraHasil" value="{{ kaji.flaccBersuaraHasil }}" placeholder="Hasil Penilaian"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr class="separator">
    <ion-grid>
      <ion-row radio-group formControlName="faces" [(ngModel)]="faces">
        <ion-col col-3>
          <ion-item class="item-checklist">
            <ion-label class="label-checklist"><strong>BAKER WONG FACES</strong></ion-label>
            <ion-radio  value="faces"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="rowheader">
        <ion-col>
          <strong>PENGKAJIAN ANAK 4 - 11 TAHUN</strong>
        </ion-col>
      </ion-row>
      <img src="assets/img/faces.png" height="180px">
      <ion-row class="rowheader">
        <ion-col>
          <ion-row radio-group formControlName="nyeri" [(ngModel)]="nyeri">
            <ion-col col-6>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Tidak ada nyeri</ion-label>
                <ion-radio value="tidak"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Ada nyeri, skala nyeri : </ion-label>
                <ion-radio value="nyeri"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-input type="number" formControlName="skalaNyeri" value="{{ kaji.skalaNyeri }}" placeholder="Skala nyeri"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="rowheader">
        <ion-col col-3>
          Penyebab terjadi nyeri
        </ion-col>
        <ion-col>
          <ion-input type="text" formControlName="penyebabNyeri" value="{{ kaji.penyebabNyeri }}" placeholder="Keterangan"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="rowheader">
        <ion-col col-3>
          Mulai terjadi nyeri
        </ion-col>
        <ion-col>
          <ion-input type="text" formControlName="mulaiNyeri" value="{{ kaji.mulaiNyeri }}" placeholder="Keterangan"></ion-input>
        </ion-col>
        <ion-col>
          <ion-row radio-group formControlName="tipeNyeri" [(ngModel)]="tipeNyeri">
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Nyeri akut (
                  <6 bulan)</ion-label>
                    <ion-radio value="akut"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Nyeri kronik (>6 bulan)</ion-label>
                <ion-radio value="kronik"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="rowheader">
        <ion-col col-3>
          Karakteristik nyeri
        </ion-col>
        <ion-col>
          <ion-row radio-group formControlName="karakteristikNyeri" [(ngModel)]="karakteristikNyeri">
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Tertusuk-tusuk</ion-label>
                <ion-radio value="tertusuk"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Terbakar</ion-label>
                <ion-radio value="terbakar"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Lainnya</ion-label>
                <ion-radio value="lainnya"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input type="text" formControlName="karakteristikNyeriLainnya" value="{{ kaji.karakteristikNyeriLainnya }}" placeholder="Lainnya"></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="rowheader">
        <ion-col col-3>
          Nyeri Menyebar
        </ion-col>
        <ion-col>
          <ion-row radio-group formControlName="nyeriMenyebar" [(ngModel)]="nyeriMenyebar">
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Tidak</ion-label>
                <ion-radio value="tidak"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Ya, Lokasi penyebaran</ion-label>
                <ion-radio value="ya"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Lainnya</ion-label>
                <ion-radio value="lainnya"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input type="text" formControlName="nyeriMenyebarHasil" value="{{ kaji.nyeriMenyebarHasil }}" placeholder="Lainnya"></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="rowheader">
        <ion-col col-3>
          Frekuensi Nyeri
        </ion-col>
        <ion-col>
          <ion-row radio-group formControlName="frekuensiNyeri" [(ngModel)]="frekuensiNyeri">
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Jarang</ion-label>
                <ion-radio value="jarang"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Hilang Timbul</ion-label>
                <ion-radio value="hilang timbul"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Terus menerus</ion-label>
                <ion-radio value="terus menerus"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="rowheader">
        <ion-col col-3>
          Pengobatan terkait rasa nyeri sebelum masuk RS
        </ion-col>
        <ion-col>
          <ion-row radio-group class="rowheader" formControlName="pengobatanNyeri" [(ngModel)]="pengobatanNyeri">
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Tidak ada</ion-label>
                <ion-radio value="tidak ada"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Ada</ion-label>
                <ion-radio value="ada"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row radio-group class="rowheader" formControlName="pengobatanNyeriAkibat" [(ngModel)]="pengobatanNyeriAkibat">
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Obat-obatan</ion-label>
                <ion-radio value="obat"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Jamu</ion-label>
                <ion-radio value="jamu"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Tidur</ion-label>
                <ion-radio value="tidur"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Istirahat</ion-label>
                <ion-radio value="istirahat"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Lainnya</ion-label>
                <ion-radio value="lainnya"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input type="text" formControlName="pengobatanNyeriAkibatLainnya" value="{{ kaji.pengobatanNyeriAkibatLainnya }}" placeholder="Lainnya"></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr class="separator">
    <ion-card-header>
      <strong>STATUS FUNGSIONAL</strong>
    </ion-card-header>
    <ion-grid>
       <ion-row class="rowheader">
        <ion-col col-3>
          Kemampuan Aktifitas
        </ion-col>
        <ion-col>
          <ion-row radio-group formControlName="kemampuanAktifitas" [(ngModel)]="kemampuanAktifitas">
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Mandiri</ion-label>
                <ion-radio value="mandiri"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Partial Care</ion-label>
                <ion-radio value="partial care"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Total Care</ion-label>
                <ion-radio value="total care"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr class="separator">
    <ion-card-header>
      <strong>PSIKOLOGI - MENTAL - SPIRITUAL (DITANYAKAN KE PASIEN / KELUARGA)</strong>
    </ion-card-header>
    <ion-grid>
       <ion-row class="rowheader">
        <ion-col col-3>
          Status Psikologis
        </ion-col>
        <ion-col>
          <ion-row radio-group formControlName="statusPsikologis" [(ngModel)]="statusPsikologis">
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Tenang</ion-label>
                <ion-radio value="tenang"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Cemas</ion-label>
                <ion-radio value="cemas"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Sedih</ion-label>
                <ion-radio value="sedih"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Menggangu Sekitar</ion-label>
                <ion-radio value="mengganggu sekitar"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Hiperaktif</ion-label>
                <ion-radio value="hiperaktif"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Marah</ion-label>
                <ion-radio value="marah"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Depresi</ion-label>
                <ion-radio value="depresi"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Lainnya</ion-label>
                <ion-radio value="lainnya"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input type="text" formControlName="statusPsikologisLainnya" value="{{ kaji.statusPsikologisLainnya }}" placeholder="Lainnya"></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
       <ion-row class="rowheader">
        <ion-col col-3>
          Status Mental
        </ion-col>
        <ion-col>
          <ion-row radio-group class="rowheader" formControlName="statusMental" [(ngModel)]="statusMental">
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Orientasi</ion-label>
                <ion-radio value="orientasi"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Tidak ada respon</ion-label>
                <ion-radio value="tidak ada respon"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Agitasi</ion-label>
                <ion-radio value="agitasi"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Kooperatif</ion-label>
                <ion-radio value="kooperatif"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Letargi</ion-label>
                <ion-radio value="letargi"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Menyerang</ion-label>
                <ion-radio value="menyerang"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="item-checklist">
                <ion-label class="label-checklist">Disorientasi :</ion-label>
                <ion-radio value="disorientasi"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row radio-group formControlName="statusMentalDisorientasi" [(ngModel)]="statusMentalDisorientasi">
              <ion-col>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Orang</ion-label>
                  <ion-radio value="orang"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Tempat</ion-label>
                  <ion-radio value="tempat"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Waktu</ion-label>
                  <ion-radio value="waktu"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr class="separator">
    <ion-card-header>
      <strong>RISIKO JATUH TIME UP &amp; GO </strong>
    </ion-card-header>
    <ion-grid>
      <ion-row class="rowheader">
        <ion-col col-1>
          <strong>NO</strong>
        </ion-col>
         <ion-col>
          <strong>PENILAIAN / PENGKAJIAN</strong>
        </ion-col>
         <ion-col col-4>
          <strong>ACTION</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
            A
        </ion-col>
         <ion-col>
          Cara berjalan pasien ( salah satu atau lebih )<br>
            1.	Tidak seimbang / sempoyongan / limbung
        </ion-col>
         <ion-col col-4>
           <ion-row radio-group formControlName="resikoA1" [(ngModel)]="resikoA1">
                <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Ya</ion-label>
                  <ion-radio value="ya"></ion-radio>
                </ion-item>
                </ion-col>
                <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Tidak</ion-label>
                  <ion-radio value="tidak"></ion-radio>
                </ion-item>
                </ion-col>
           </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
        </ion-col>
         <ion-col>
            2.	Jalan dengan menggunakan alat bantu ( kruk, tripot, kursi, orang lain )
        </ion-col>
         <ion-col col-4>
           <ion-row radio-group formControlName="resikoA2" [(ngModel)]="resikoA2">
                <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Ya</ion-label>
                  <ion-radio value="ya"></ion-radio>
                </ion-item>
                </ion-col>
                <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Tidak</ion-label>
                  <ion-radio value="tidak"></ion-radio>
                </ion-item>
                </ion-col>
           </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
          B
        </ion-col>
         <ion-col>
            Menopang saat akan duduk : tampak memegang pinggiran kursi atau meja / benda lain sebagai penopang saat akan duduk
        </ion-col>
         <ion-col col-4>
           <ion-row radio-group formControlName="resikoB1" [(ngModel)]="resikoB1">
                <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Ya</ion-label>
                  <ion-radio value="ya"></ion-radio>
                </ion-item>
                </ion-col>
                <ion-col col-6>
                <ion-item class="item-checklist">
                  <ion-label class="label-checklist">Tidak</ion-label>
                  <ion-radio value="tidak"></ion-radio>
                </ion-item>
                </ion-col>
           </ion-row>
        </ion-col>
      </ion-row>
       </ion-grid>
        <br>
      <ion-grid>
      <ion-row class="rowheader">
        <ion-col col-1>
          <strong>NO</strong>
        </ion-col>
        <ion-col>
          <strong>HASIL</strong>
        </ion-col>
         <ion-col col-5>
          <strong>PENILAIAN / PENGKAJIAN</strong>
        </ion-col>
         <ion-col>
          <strong>KETERANGAN</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
          1
        </ion-col>
        <ion-col>
          Tidak berisiko
        </ion-col>
         <ion-col col-5>
          Tidak ditemukan A &amp; B
        </ion-col>
         <ion-col>
          <ion-input formControlName="resiko1Ket" value="{{ kaji.resiko1Ket }}" placeholder="Keterangan"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
          2
        </ion-col>
        <ion-col>
          Resiko Rendah
        </ion-col>
         <ion-col col-5>
          Ditemukan salah satu dari A &amp; B
        </ion-col>
         <ion-col>
          <ion-input formControlName="resiko2Ket" value="{{ kaji.resiko2Ket }}" placeholder="Keterangan"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1>
          3
        </ion-col>
        <ion-col>
          Resiko Tinggi
        </ion-col>
         <ion-col col-5>
          Ditemukan A &amp; B
        </ion-col>
         <ion-col>
          <ion-input formControlName="resiko3Ket" value="{{ kaji.resiko3Ket }}" placeholder="Keterangan"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <button *ngIf="!nokaji" (click)="submitPengkajianAnak(childReviewForm.value)" ion-button block>SIMPAN PENGKAJIAN</button>
    <button *ngIf="nokaji" (click)="updateSubmitPengkajianAnak(childReviewForm.value)" ion-button block>UBAH PENGKAJIAN</button>
  </form>
</ion-card>