$grey: #e8e8f5;
$softgrey: #eceef3;
$dark-red: #9b0004;
$redlight:#ff6f59;
$red: #d9534f;
$yellowlight: #f7e14f;
$greenlight: #00ff80;
$dark-blue:  #314961;
$darkgrey: #666666;
$lightblue: #76a6ef;
$purple : #9C27B0;
$greysoft: #f5f5f7;

$SIDEMENU_TOP: white;
$SIDEMENU_BOTTOM: white;
$SIDEMENU_TRANSPARENCY: rgba(0,0,0,0.1);

ion-select{
    max-width: 90% !important;
}

.separator {
    border:1px solid #dbdbdb;
}

.label-checklist {
    font-size: 0.9em;
    margin: 0px;
    word-wrap: none;
    display: inline-flex !important;
    padding: 0px;
    
}

.item-checklist {
    padding-left: 0px;
}

.row{
    align-items: center;   
}
.input-cover{
    display: none;
}
.content-wrapper{
    height: 100% !important;
}
.showhide {
    float:right;
    text-align: right;
    font-weight: bold;
    font-size: 1.8em;
    margin-right: 1.5px;
}
.click-info{
    font-size: 12px;
}

.rowheader {
    border-bottom: 1px solid #dbdbdb;
}

.score-total {
    font-size: 1.3em;
}

.boldtext {
    font-weight: bold;
}

.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: black;
}

.sirus-segment-menu {
    background: $dark-blue;
}

.segment-ios .segment-button:first-of-type {
    margin-right: 0;
    border-radius: 0;
}

.segment-ios .segment-button{
    color: white;
    border-width: 0px;
    border-style: solid;
    border-bottom: 1px solid #b2b2b2;
}
.segment-ios .segment-button.segment-activated{
    color: white;
    font-weight: bold;
    background: transparent;
    border-bottom: 2px solid $SIDEMENU_TOP;
}
.item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner{
    background-image: none;
    padding-right: 0px;
}

.segment-md .segment-button {
    color: white;
}

.segment-wp .segment-button {
    color: white;
    border-bottom: 1px solid #ededed;
}

.segment-wp .segment-button.segment-activated {
    border-bottom: 2px solid $SIDEMENU_TOP;
}

.text-input[disabled] {
    opacity:1;
}

.backButton {
    font-size: 1em;
    padding: 0;
    box-shadow: 0 0 0 0;
    -webkit-box-shadow: 0 0 0 0;
}

.pregnancy .modal-wrapper{
    position: absolute;
    overflow: hidden;
    //border-radius: 10px;
    width: 90%;
    height: 70% !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    box-shadow: 0 16px 20px rgba(0,0,0,.4);
    background-color: #fafafa;
  }

.pregnancy-row-header {
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
}


.pregnancy-row {
    border-bottom: solid 1px grey;
}

.btn-add-pregnancy {
    float: right;
    margin: 5px 10px 10px 10px;
}

.btn-detail-pregnancy {
    float: center;
    margin: 0px 0px 0px 0px;
}
.btn-delete-pregnancy {
    float: center;
    margin: px 0px 0px 0px;
}

.pregnancy-datekontrol {
    //border:1px solid black;
    // padding: 1px;
    // font-weight: bold;

    background: white;
    padding:2px 1px;
    color:black;
    font-weight: 500;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: bold;
}

.pregnancy-realdate {
    //border:1px solid black;
    background: white;
    padding:2px 1px;
    color:black;
    font-weight: 500;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: bold;
}

.pregnancy-input{
    display: inline-flex !important;
    max-width: 150% !important;
    margin: 0px;
    padding: 0px;
    
}

.pregnancy-select{
    display: inline-flex !important;
    max-width: 150% !important;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}