<ion-header>
    <ion-navbar color="dark-blue">
        <ion-title>
            <ion-grid>
                <ion-row>
                    <ion-col col-1>
                        <button ion-button color="dark-blue" (click)="backPage()" class="backButton">
                            <ion-icon name="md-arrow-back"></ion-icon>
                        </button>
                    </ion-col>
                    <ion-col col-2>
                        Pengkajian
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="content-wrapper" [virtualScroll]="datareview" style="height: 100%">
    <!-- <ion-content class="content-wrapper" style="height: 100%"> -->
    <div [ngSwitch]="reviewMenu">
        <ion-list *ngSwitchCase="'bidan'">
            <ion-card padding class="form-card" *virtualItem="let kaji">
                <!-- <ion-card padding class="form-card"> -->
                <ion-card-header>
                    <strong>FORM PENGKAJIAN</strong>
                </ion-card-header>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label fixed>Nama</ion-label>
                                <ion-input class="boldtext" type="text" readonly value="{{ nama_pasien }}"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label fixed>No. RM</ion-label>
                                <ion-input class="boldtext" type="text" readonly value="{{ no_medrec }}"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label fixed>Tanggal Lahir</ion-label>
                                <ion-input class="boldtext" type="text" readonly value="{{ birthDate }}"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <form [formGroup]="midwifeReviewForm">
                    <ion-grid>
                        <ion-row class="rowheader">
                            <ion-col>
                                <ion-label>Tanggal</ion-label>
                            </ion-col>
                            <ion-col>
                                <button ion-button class="pregnancy-realdate" (click)="createModalWithParams()">{{ thisdate }}</button>
                            </ion-col>
                            <ion-col>
                                <ion-label>Jam</ion-label>
                            </ion-col>
                            <ion-col>
                                <ion-item>
                                    <ion-datetime class="pregnancy-datekontrol" formControlName="jam" displayFormat="HH.mm" pickerFormat="HHmm" [(ngModel)]="myDate"></ion-datetime>
                                    <!-- <ion-input type="text" formControlName="jam" placeholder=".........."></ion-input> -->
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-grid>
                        <ion-row class="rowheader">
                            <ion-col col-2>
                                Sumber data
                            </ion-col>
                            <ion-col radio-group formControlName="sumberData" [(ngModel)]="sumberData">
                                <ion-row>
                                    <ion-col col-6>
                                        <ion-item class="item-checklist">
                                            <ion-label class="label-checklist">Pasien</ion-label>
                                            <ion-radio item-left value="pasien"></ion-radio>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-6>
                                        <ion-item class="item-checklist">
                                            <ion-label class="label-checklist">Keluarga</ion-label>
                                            <ion-radio item-left value="keluarga"></ion-radio>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-6>
                                        <ion-item class="item-checklist">
                                            <ion-label class="label-checklist">Lainnya</ion-label>
                                            <ion-radio item-left value="lainnya"></ion-radio>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col col-6>
                                        <ion-input class="pregnancy-input" *ngIf="sumberData === 'lainnya'" formControlName="sumberData_lainnya" value="{{sumberData_lainnya}}"
                                            type="text" placeholder="Sebutkan"></ion-input>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                        <ion-row class="rowheader">
                            <ion-col col-2>
                                Rujukan
                            </ion-col>
                            <ion-col radio-group formControlName="rujukan" [(ngModel)]="rujukan">
                                <ion-row>
                                    <ion-col col-4>
                                        <ion-item class="item-checklist">
                                            <ion-label class="label-checklist">Tidak</ion-label>
                                            <ion-radio item-left value="tidak"></ion-radio>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-4>
                                        <ion-item class="item-checklist">
                                            <ion-label class="label-checklist">Ya</ion-label>
                                            <ion-radio item-left value="ya"></ion-radio>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col col-4>
                                        <ion-select class="pregnancy-select" interface="popover" formControlName="rujukan_ket" [(ngModel)]="rujukan_ket" placeholder="-Pilih Rujukan-">
                                            <ion-option value="rs">RS</ion-option>
                                            <ion-option value="puskesmas">Puskesmas</ion-option>
                                            <ion-option value="dokter">Dokter</ion-option>
                                            <ion-option value="bidan">Bidan</ion-option>
                                        </ion-select>
                                    </ion-col>
                                    <ion-col col-4>
                                        <ion-input class="pregnancy-input" class="pregnancy-input" *ngIf="rujukan_ket === 'rs'" formControlName="rujukan_ket_rs"
                                            value="{{rujukan_ket_rs}}" type="text" placeholder="Nama RS"></ion-input>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                        <ion-input class="pregnancy-input" formControlName="diagnosa_rujukan" value="{{ kaji.diagnosa_rujukan }}" type="text" placeholder="Diagnosa Rujukan"></ion-input>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                    <hr class="separator">
                    <ion-card-header>
                        <strong>1. IDENTITAS</strong>
                    </ion-card-header>
                    <div>
                        <ion-grid>
                            <ion-row class="rowheader">
                                <ion-col col-6>
                                    <strong>Diri</strong>
                                </ion-col>
                                <ion-col col-6>
                                    <strong>Suami</strong>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-6>
                                    <ion-item>
                                        <ion-label fixed>Nama</ion-label>
                                        <ion-input class="pregnancy-input" class="boldtext" type="text" readonly value="{{ nama_pasien }}"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label fixed>Pendidikan</ion-label>
                                        <ion-input class="pregnancy-input" class="boldtext" type="text" readonly value="{{ age }}"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label fixed>Pangkat</ion-label>
                                        <ion-input class="pregnancy-input" class="boldtext" type="text" readonly value="{{ age }}"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label fixed>Pekerjaan</ion-label>
                                        <ion-input class="pregnancy-input" class="boldtext" type="text" readonly value="{{ age }}"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label fixed>Agama</ion-label>
                                        <ion-input class="pregnancy-input" class="boldtext" type="text" readonly value="{{ age }}"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label fixed>Suku</ion-label>
                                        <ion-input class="pregnancy-input" class="boldtext" type="text" readonly value="{{ age }}"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label fixed>Gol Darah</ion-label>
                                        <ion-input class="pregnancy-input" class="boldtext" type="text" readonly value="{{ age }}"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label fixed>No. Telp</ion-label>
                                        <ion-input class="pregnancy-input" class="boldtext" type="text" readonly value="{{ age }}"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label fixed>Alamat</ion-label>
                                        <ion-input class="pregnancy-input" class="boldtext" type="text" readonly value="{{ age }}"></ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-6>
                                    <ion-item>
                                        <ion-label fixed>Nama</ion-label>
                                        <ion-input class="pregnancy-input" class="boldtext" type="text" readonly value="{{ age }}"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label fixed>Pendidikan</ion-label>
                                        <ion-input class="pregnancy-input" class="boldtext" type="text" readonly value="{{ age }}"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label fixed>Pangkat</ion-label>
                                        <ion-input class="pregnancy-input" class="boldtext" type="text" readonly value="{{ age }}"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label fixed>Pekerjaan</ion-label>
                                        <ion-input class="pregnancy-input" class="boldtext" type="text" readonly value="{{ age }}"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label fixed>Agama</ion-label>
                                        <ion-input class="pregnancy-input" class="boldtext" type="text" readonly value="{{ age }}"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label fixed>Suku</ion-label>
                                        <ion-input class="pregnancy-input" class="boldtext" type="text" readonly value="{{ age }}"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label fixed>Gol Darah</ion-label>
                                        <ion-input class="pregnancy-input" class="boldtext" type="text" readonly value="{{ age }}"></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label fixed></ion-label>
                                        <ion-input class="pregnancy-input" class="boldtext" type="text" readonly value=""></ion-input>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label fixed></ion-label>
                                        <ion-input class="boldtext" type="text" readonly value=""></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>

                    <hr class="separator">
                    <ion-card-header>
                        <strong>2. KELUHAN UTAMA</strong>
                    </ion-card-header>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-input class="pregnancy-input" type="text" formControlName="keluhan" value="{{ kaji.keluhan }}" placeholder="Keluhan"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                    <hr class="separator">
                    <ion-card-header>
                        <strong>3. RIWAYAT KESEHATAN</strong>
                        <span class="showhide">
                            <ion-icon color="darkblue" name="{{ tab_riwayatKesehatan == false ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}" (click)="showForm('tab_riwayatKesehatan')"></ion-icon>
                        </span>
                    </ion-card-header>
                    <div *ngIf="tab_riwayatKesehatan">
                        <ion-grid>
                            <ion-row class="rowheader">
                                <ion-col>
                                    <strong>a. Riwayat Penyakit Lalu</strong>
                                </ion-col>
                                <ion-col>
                                    <ion-row radio-group formControlName="riwayatPenyakit" [(ngModel)]="riwayatPenyakit">
                                        <ion-col>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Tidak</ion-label>
                                                <ion-radio item-left value="tidak"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Ya</ion-label>
                                                <ion-radio item-left value="ya"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col>
                                    <ion-input class="pregnancy-input" formControlName="riwayatPenyakit_ket" value="{{ kaji.riwayatPenyakit_ket }}" type="text"
                                        placeholder="Penyakit"></ion-input>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    Pernah dirawat :
                                </ion-col>
                                <ion-col>
                                    <ion-row radio-group formControlName="dirawat" [(ngModel)]="dirawat">
                                        <ion-col>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Tidak</ion-label>
                                                <ion-radio item-left value="tidak"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Ya</ion-label>
                                                <ion-radio item-left value="ya"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col>
                                    <ion-input class="pregnancy-input" formControlName="dirawat_diagnosa" value="{{ kaji.dirawat_diagnosa }}" type="text" placeholder="Diagnosa"></ion-input>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-6>
                                    <ion-item>
                                        <ion-label>Kapan</ion-label>
                                        <!-- <ion-input class="pregnancy-input"   formControlName="dirawat_kapan" value="{{ kaji.dirawat_kapan }}" type="text" placeholder="tanggal..(dd/mm/yyyy)"></ion-input> -->
                                        <ion-datetime placeholder="-Pilih Tanggal-" class="pregnancy-datekontrol" formControlName="dirawat_kapan" displayFormat="DD/MM/YYYY"
                                            pickerFormat="DDMMYYYY" [(ngModel)]="dirawat_kapan"></ion-datetime>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-4>
                                    <ion-item>
                                        <ion-label>Di</ion-label>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-4>
                                    <ion-input class="pregnancy-input" formControlName="dirawat_di" value="{{ kaji.dirawat_di }}" type="text" placeholder="Tempat dirawat"></ion-input>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    Pernah dioperasi :
                                </ion-col>
                                <ion-col>
                                    <ion-row radio-group formControlName="dioprasi" [(ngModel)]="dioprasi">
                                        <ion-col>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Tidak</ion-label>
                                                <ion-radio item-left value="tidak"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Ya</ion-label>
                                                <ion-radio item-left value="ya"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col>
                                    <ion-input class="pregnancy-input" formControlName="dioprasi_jenis" value="{{ kaji.dioprasi_jenis }}" type="text" placeholder="Jenis Operasi"></ion-input>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-6>
                                    <ion-item>
                                        <ion-label>Kapan</ion-label>
                                        <!-- <ion-input class="pregnancy-input"   formControlName="dioprasi_kapan" value="{{ kaji.dioprasi_kapan }}" type="text" placeholder="tanggal..(dd/mm/yyyy)"></ion-input> -->
                                        <ion-datetime placeholder="-Pilih Tanggal-" class="pregnancy-datekontrol" formControlName="dioprasi_kapan" displayFormat="DD/MM/YYYY"
                                            pickerFormat="DDMMYYYY" [(ngModel)]="dioprasi_kapan"></ion-datetime>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    Masih dalam pengobatan :
                                </ion-col>
                                <ion-col>
                                    <ion-row radio-group formControlName="pengobatan" [(ngModel)]="pengobatan">
                                        <ion-col>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Tidak</ion-label>
                                                <ion-radio item-left value="tidak"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Ya</ion-label>
                                                <ion-radio item-left value="ya"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col>
                                    <ion-input class="pregnancy-input" formControlName="pengobatan_obat" value="{{ kaji.pengobatan_obat }}" type="text" placeholder="Obat"></ion-input>
                                </ion-col>
                            </ion-row>

                            <ion-row class="rowheader">
                                <ion-col>
                                    <strong>b. Riwayat penyakit keluarga</strong>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col radio-group formControlName="penyakitKeluarga" [(ngModel)]="penyakitKeluarga">
                                    <ion-row>
                                        <ion-col col-4>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Tidak</ion-label>
                                                <ion-radio item-left value="tidak"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col col-4>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Ada</ion-label>
                                                <ion-radio item-left value="ada"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col col-8 *ngIf="penyakitKeluarga === 'ada'">
                                            <ion-row>
                                                <ion-col col-4>
                                                    <ion-select class="pregnancy-select" interface="popover" formControlName="penyakitKeluarga_select" [(ngModel)]="penyakitKeluarga_select"
                                                        placeholder="-Pilih Jenis Penyakit-">
                                                        <ion-option value="hipertensik">Hipertensik</ion-option>
                                                        <ion-option value="jantung">Jantung</ion-option>
                                                        <ion-option value="paru">Paru</ion-option>
                                                        <ion-option value="dm">DM</ion-option>
                                                        <ion-option value="ginjal">Ginjal</ion-option>
                                                        <ion-option value="lainnya">Lainnya</ion-option>
                                                    </ion-select>
                                                </ion-col>
                                                <ion-col col-4>
                                                    <ion-input class="pregnancy-input" *ngIf="penyakitKeluarga_select === 'lainnya'" formControlName="penyakitKeluarga_lainnya"
                                                        value="{{penyakitKeluarga_lainnya}}" type="text" placeholder="Sebutkan"></ion-input>
                                                </ion-col>
                                            </ion-row>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>

                            <ion-row class="rowheader">
                                <ion-col>
                                    <strong>c. Ketergantungan Terhadap Zat Tertentu</strong>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col radio-group formControlName="ketergantunganZat" [(ngModel)]="ketergantunganZat">
                                    <ion-row>
                                        <ion-col col-4>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Tidak</ion-label>
                                                <ion-radio item-left value="tidak"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col col-4>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Ya</ion-label>
                                                <ion-radio item-left value="ya"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col col-8 *ngIf="ketergantunganZat === 'ya'">
                                            <ion-row>
                                                <ion-col col-4>
                                                    <ion-select class="pregnancy-select" formControlName="ketergantunganZat_select" [(ngModel)]="ketergantunganZat_select" interface="popover"
                                                        placeholder="-Pilih Jenis Zat-">
                                                        <ion-option value="obat-obatan">Obat-obatan</ion-option>
                                                        <ion-option value="rokok">Rokok</ion-option>
                                                        <ion-option value="alkohol">Alkohol</ion-option>
                                                        <ion-option value="lainnya">Lainnya</ion-option>
                                                    </ion-select>
                                                </ion-col>
                                                <ion-col col-4>
                                                    <ion-input class="pregnancy-input" *ngIf="ketergantunganZat_select === 'lainnya'" formControlName="ketergantunganZat_lainnya"
                                                        value="{{ketergantunganZat_lainnya}}" type="text" placeholder="Sebutkan"></ion-input>
                                                </ion-col>
                                            </ion-row>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>


                            <ion-row class="rowheader">
                                <ion-col col-12>
                                    <strong>d. Riwayat Pekerjaan (Apakah berhubungan dengan zat-zat berbahaya)</strong>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col radio-group formControlName="pekerjaan" [(ngModel)]="pekerjaan">
                                    <ion-row>
                                        <ion-col col-4>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Tidak</ion-label>
                                                <ion-radio item-left value="tidak"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col col-4>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Ya</ion-label>
                                                <ion-radio item-left value="ya"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col col-4>
                                            <ion-input class="pregnancy-input" *ngIf="pekerjaan === 'ya'" formControlName="pekerjaan_ket" value="{{ kaji.pekerjaan_ket }}"
                                                type="text" placeholder="Sebutkan"></ion-input>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>

                            <ion-row class="rowheader">
                                <ion-col>
                                    <strong>e. Riwayat Alergi</strong>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-row radio-group formControlName="alergi" [(ngModel)]="alergi">
                                        <ion-col col-6>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Tidak</ion-label>
                                                <ion-radio item-left value="tidak"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col col-6>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Ya</ion-label>
                                                <ion-radio item-left value="ya"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label>Obat</ion-label>
                                        <ion-input class="pregnancy-input" formControlName="alergi_obat" value="{{ kaji.alergi_obat }}" type="text" placeholder=".........."></ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-label>Reaksi</ion-label>
                                        <ion-input class="pregnancy-input" formControlName="alergi_obat_reaksi" value="{{ kaji.alergi_obat_reaksi }}" type="text"
                                            placeholder=".........."></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label>Makanan</ion-label>
                                        <ion-input class="pregnancy-input" formControlName="alergi_makanan" value="{{ kaji.alergi_makanan }}" type="text" placeholder=".........."></ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-label>Reaksi</ion-label>
                                        <ion-input class="pregnancy-input" formControlName="alergi_makanan_reaksi" value="{{ kaji.alergi_makanan_reaksi}}" type="text"
                                            placeholder=".........."></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label>Lainnya</ion-label>
                                        <ion-input class="pregnancy-input" formControlName="alergi_lainnya" value="{{ kaji.alergi_lainnya }}" type="text" placeholder=".........."></ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-label>Reaksi</ion-label>
                                        <ion-input class="pregnancy-input" formControlName="alergi_lainnya_reaksi" value="{{ kaji.alergi_lainnya_reaksi }}" type="text"
                                            placeholder=".........."></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>

                            <ion-row class="rowheader">
                                <ion-col>
                                    <strong>f. Riwayat pemakaian alat kontrasepsi</strong>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col radio-group formControlName="kontrasepsi" [(ngModel)]="kontrasepsi">
                                    <ion-row>
                                        <ion-col col-4>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Tidak</ion-label>
                                                <ion-radio item-left value="tidak"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col col-4>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Ya</ion-label>
                                                <ion-radio item-left value="ya"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col col-2>
                                            <ion-input class="pregnancy-input" formControlName="kontrasepsi_jenis" value="{{ kaji.kontrasepsi_jenis }}" type="text" placeholder="Jenis"></ion-input>
                                        </ion-col>
                                        <ion-col col-3>
                                            <ion-input class="pregnancy-input" formControlName="kontrasepsi_lama" value="{{ kaji.kontrasepsi_lama }}" type="text" placeholder="Lama Pemakaian"></ion-input>
                                        </ion-col>
                                        <ion-col col-3>
                                            <ion-input class="pregnancy-input" formControlName="kontrasepsi_keluhan" value="{{ kaji.kontrasepsi_keluhan }}" type="text"
                                                placeholder="Keluhan"></ion-input>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>

                            <ion-row class="rowheader">
                                <ion-col col-3>
                                    <strong>g. Riwayat Pernikahan</strong>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-row>
                                        <ion-col col-4>
                                            <ion-item>
                                                <ion-label>Status</ion-label>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col col-4>
                                            <ion-select class="pregnancy-select" interface="popover" formControlName="pernikahan" [(ngModel)]="pernikahan" placeholder="-Pilih Status Pernikahan-">
                                                <ion-option value="single">Single</ion-option>
                                                <ion-option value="menikah">Menikah</ion-option>
                                                <ion-option value="bercerai">Bercerai</ion-option>
                                                <ion-option value="janda/duda">Janda/Duda</ion-option>
                                            </ion-select>
                                        </ion-col>
                                        <ion-col col-4>
                                            <ion-input *ngIf="pernikahan === 'menikah'" class="pregnancy-input" formControlName="menikah_kali" value="{{ kaji.menikah_kali }}"
                                                type="number" placeholder=".....(kali)"></ion-input>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col>
                                            <ion-item>
                                                <ion-label>Umur waktu pertama menikah</ion-label>
                                                <ion-input class="pregnancy-input" formControlName="menikah_umur" value="{{ kaji.menikah_umur }}" type="number" placeholder=".....(tahun)"></ion-input>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col col-6>
                                            <ion-item>
                                                <ion-label>Menikah dengan suami 1</ion-label>
                                                <ion-input class="pregnancy-input" formControlName="menikah1" value="{{ kaji.menikah1 }}" type="number" placeholder=".....(tahun)"></ion-input>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col col-6>
                                            <ion-item>
                                                <ion-label>Ke 2,3</ion-label>
                                                <ion-input class="pregnancy-input" formControlName="menikah2" value="{{ kaji.menikah2 }}" type="number" placeholder=".....(tahun)"></ion-input>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>

                            <ion-row class="rowheader">
                                <ion-col col-12>
                                    <strong>h. Riwayat Menstruasi</strong>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label>Menarce umur</ion-label>
                                        <ion-input class="pregnancy-input" formControlName="menarche" value="{{ kaji.menarche }}" type="number" placeholder=".....(tahun)"></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label>Siklus</ion-label>
                                        <ion-input class="pregnancy-input" formControlName="siklus" value="{{ kaji.siklus }}" type="number" placeholder=".....(hari)"></ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-row radio-group formControlName="siklus_teratur" [(ngModel)]="siklus_teratur">
                                        <ion-col>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Teratur</ion-label>
                                                <ion-radio item-left value="teratur"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Tidak Teratur</ion-label>
                                                <ion-radio item-left value="tidak"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label>Lama</ion-label>
                                        <ion-input class="pregnancy-input" formControlName="siklus_teratur_ket" value="{{ kaji.siklus_teratur_ket }}" type="number"
                                            placeholder=".....(hari)"></ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-label>Volume</ion-label>
                                        <ion-input class="pregnancy-input" formControlName="haid_volume" value="{{ kaji.haid_volume }}" type="number" placeholder=".....(cc)/24 jam"></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label>Keluhan saat haid</ion-label>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-row radio-group formControlName="haid_keluhan" [(ngModel)]="haid_keluhan">
                                        <ion-col>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Tidak</ion-label>
                                                <ion-radio item-left value="tidak"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Ya</ion-label>
                                                <ion-radio item-left value="ya"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-item>
                                        <ion-label>HPHT</ion-label>
                                        <!-- <ion-input class="pregnancy-input"   formControlName="haid_hpht" value="{{ kaji.haid_hpht }}" type="text" placeholder=".........."></ion-input> -->
                                        <ion-datetime placeholder="-Pilih Tanggal-" class="pregnancy-datekontrol" formControlName="haid_hpht" displayFormat="DD/MM/YYYY"
                                            pickerFormat="DDMMYYYY" [(ngModel)]="haid_hpht"></ion-datetime>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-label>Taksiran Persalinan</ion-label>
                                        <ion-input class="pregnancy-input" formControlName="haid_taksiran" value="{{ kaji.haid_taksiran }}" type="text" placeholder=".........."></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>

                            <ion-row class="rowheader">
                                <ion-col>
                                    <strong>i. Riwayat penyakit ginekologi</strong>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col radio-group formControlName="ginekologi" [(ngModel)]="ginekologi">
                                    <ion-row>
                                        <ion-col col-4>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Tidak ada</ion-label>
                                                <ion-radio item-left value="tidak"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>

                                    <ion-row>
                                        <ion-col col-4>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Ada</ion-label>
                                                <ion-radio item-left value="ada"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col col-8 *ngIf="ginekologi === 'ada'">
                                            <ion-row>
                                                <ion-col col-4>
                                                    <ion-select class="pregnancy-select" interface="popover" formControlName="ginekologi_select" [(ngModel)]="ginekologi_select"
                                                        placeholder="-Pilih Jenis Ginekologi-">
                                                        <ion-option value="infertilitas">Infertilitas</ion-option>
                                                        <ion-option value="inveksi virus">Inveksi Virus</ion-option>
                                                        <ion-option value="pms">PMS</ion-option>
                                                        <ion-option value="endometnosis">Endometnosis</ion-option>
                                                        <ion-option value="myoma">Myoma</ion-option>
                                                        <ion-option value="polyp cervix">Polyp Cervix</ion-option>
                                                        <ion-option value="kanker">Kanker</ion-option>
                                                        <ion-option value="lainnya">Lain-lain</ion-option>
                                                    </ion-select>
                                                </ion-col>
                                                <ion-col col-4>
                                                    <ion-input class="pregnancy-input" *ngIf="ginekologi_select === 'lainnya'" formControlName="ginekologi_lainnya" value="{{ginekologi_lainnya}}"
                                                        type="text" placeholder="Sebutkan"></ion-input>
                                                </ion-col>
                                            </ion-row>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>

                    <hr class="separator">
                    <ion-card-header>
                        <strong>4. RIWAYAT KEHAMILAN, PERSALINAN, DAN NIFAS</strong>
                        <span class="showhide">
                            <ion-icon color="darkblue" name="{{ tab_riwayatKehamilan == false ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}" (click)="showForm('tab_riwayatKehamilan')"></ion-icon>
                        </span>
                    </ion-card-header>
                    <div *ngIf="tab_riwayatKehamilan">
                        <ion-grid>
                            <ion-row class="pregnancy-row-header">
                                <ion-col class="pregnancy-col" col-1>
                                    <ion-label>No</ion-label>
                                </ion-col>
                                <ion-col class="pregnancy-col" col-2>
                                    <ion-label>Tgl/Thn Partus</ion-label>
                                </ion-col>
                                <ion-col class="pregnancy-col" col-3>
                                    <ion-label>Tempat Partus</ion-label>
                                </ion-col>
                                <ion-col class="pregnancy-col" col-3>
                                    <ion-label>Umur Kehamilan</ion-label>
                                </ion-col>
                                <ion-col class="pregnancy-col" col-3>
                                    <ion-label>Keterangan</ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row class="pregnancy-row">
                                <ion-item *ngFor="let riwayat of riwayat_kehamilan ; let i = index">
                                    <ion-row>
                                        <ion-col col-1>
                                            {{i+1}}
                                        </ion-col>
                                        <ion-col col-2>
                                            {{riwayat.tanggal}}
                                        </ion-col>
                                        <ion-col col-3>
                                            {{riwayat.tempat}}
                                        </ion-col>
                                        <ion-col col-3>
                                            {{riwayat.umur}}
                                        </ion-col>
                                        <ion-col col-3>
                                            <button class="btn-detail-pregnancy" color="dark-blue" (click)="openRiwayat(i)" ion-button>Detail</button>
                                            <button class="btn-delete-pregnancy" color="danger" (click)="deleteRiwayat(i)" ion-button>Hapus</button>
                                        </ion-col>
                                    </ion-row>
                                </ion-item>
                            </ion-row>
                        </ion-grid>
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <button class="btn-add-pregnancy" color="dark-blue" (click)="openRiwayat('new')" ion-button>TAMBAH RIWAYAT KEHAMILAN</button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>

                    <hr class="separator">
                    <ion-card-header>
                        <strong>5. STATUS EKONOMI DAN SOSIAL</strong>
                        <span class="showhide">
                            <ion-icon color="darkblue" name="{{ tab_statusEkonomi == false ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}" (click)="showForm('tab_statusEkonomi')"></ion-icon>
                        </span>
                    </ion-card-header>
                    <div *ngIf="tab_statusEkonomi">
                        <ion-grid>
                            <ion-row>
                                <ion-col radio-group formControlName="status_ekosos" [(ngModel)]="status_ekosos">
                                    <ion-row>
                                        <ion-col col-4>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Asuransi</ion-label>
                                                <ion-radio item-left value="asuransi"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col col-4>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Jaminan</ion-label>
                                                <ion-radio item-left value="jaminan"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col col-4>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Biaya Sendiri</ion-label>
                                                <ion-radio item-left value="sendiri"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col col-4>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Lainnya</ion-label>
                                                <ion-radio item-left value="lainnya"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col col-4>
                                            <ion-input class="pregnancy-input" *ngIf="status_ekosos === 'lainnya'" formControlName="status_ekosos_lainnya" value="{{status_ekosos_lainnya}}"
                                                type="text" placeholder="Sebutkan"></ion-input>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>

                    <hr class="separator">
                    <ion-card-header>
                        <strong>6. KEBUTUHAN KOMUNIKASI DAN EDUKASI</strong>
                        <span class="showhide">
                            <ion-icon color="darkblue" name="{{ tab_kebutuhan == false ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}" (click)="showForm('tab_kebutuhan')"></ion-icon>
                        </span>
                    </ion-card-header>
                    <div *ngIf="tab_kebutuhan">
                        <ion-grid>
                            <ion-row>
                                <ion-col col-3>
                                    Bicara :
                                </ion-col>
                                <ion-col col-6>
                                    <ion-row radio-group formControlName="bicara" [(ngModel)]="bicara">
                                        <ion-col>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Normal</ion-label>
                                                <ion-radio item-left value="normal"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Gangguan Bicara</ion-label>
                                                <ion-radio item-left value="gangguan"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col col-3>
                                    <!-- <ion-label>Obat</ion-label> -->
                                    <ion-input class="pregnancy-input" formControlName="bicara_ket" value="{{ kaji.bicara_ket }}" type="text" placeholder="Jelaskan"></ion-input>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-3>
                                    Dibutuhkan Penerjemah :
                                </ion-col>
                                <ion-col col-6>
                                    <ion-row radio-group formControlName="penerjemah" [(ngModel)]="penerjemah">
                                        <ion-col>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Tidak</ion-label>
                                                <ion-radio item-left value="tidak"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Ya</ion-label>
                                                <ion-radio item-left value="ya"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col col-3>
                                    <!-- <ion-label>Obat</ion-label> -->
                                    <ion-input class="pregnancy-input" formControlName="penerjemah_ket" value="{{ kaji.penerjemah_ket }}" type="text" placeholder="Sebutkan"></ion-input>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-3>
                                    Bahasa Isyarat :
                                </ion-col>
                                <ion-col col-6>
                                    <ion-row radio-group formControlName="isyarat" [(ngModel)]="isyarat">
                                        <ion-col>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Tidak</ion-label>
                                                <ion-radio item-left value="tidak"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Ya</ion-label>
                                                <ion-radio item-left value="ya"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-3>
                                    Hambatan Belajar :
                                </ion-col>
                                <ion-col col-6>
                                    <ion-row radio-group formControlName="hambatan" [(ngModel)]="hambatan">
                                        <ion-col>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Tidak</ion-label>
                                                <ion-radio item-left value="tidak"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Ya</ion-label>
                                                <ion-radio item-left value="ya"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col col-3>
                                    <!-- <ion-label>Obat</ion-label> -->
                                    <ion-input class="pregnancy-input" formControlName="hambatan_ket" value="{{ kaji.hambatan_ket }}" type="text" placeholder="Sebutkan"></ion-input>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>

                    <hr class="separator">
                    <ion-card-header>
                        <strong>7. RESIKO CEDERA / JATUH</strong>
                        <span class="showhide">
                            <ion-icon color="darkblue" name="{{ tab_resiko == false ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}" (click)="showForm('tab_resiko')"></ion-icon>
                        </span>
                    </ion-card-header>
                    <div *ngIf="tab_resiko">
                        <ion-grid>
                            <ion-row>
                                <ion-col col-1>
                                    a
                                </ion-col>
                                <ion-col>
                                    Perhatikan cara berjalan pasien saat akan duduk di kursi, apakah pasien tampak tidak seimbang (sempoyongan) ?
                                </ion-col>
                                <ion-col col-4>
                                    <ion-row radio-group formControlName="resiko_a" [(ngModel)]="resiko_a">
                                        <ion-col col-6>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Ya</ion-label>
                                                <ion-radio item-left value="ya"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col col-6>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Tidak</ion-label>
                                                <ion-radio item-left value="tidak"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-1>
                                    b
                                </ion-col>
                                <ion-col>
                                    Apakah pasien memegang pinggiran kursi atau meja atau benda lain sebagai penopang saat akan duduk ?
                                </ion-col>
                                <ion-col col-4>
                                    <ion-row radio-group formControlName="resiko_b" [(ngModel)]="resiko_b">
                                        <ion-col col-6>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Ya</ion-label>
                                                <ion-radio item-left value="ya"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col col-6>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Tidak</ion-label>
                                                <ion-radio item-left value="tidak"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-4>
                                    Hasil :
                                </ion-col>
                                <ion-col col-6>
                                    <ion-select class="pregnancy-select" interface="popover" placeholder="-Pilih Hasil Resiko-" formControlName="resiko_hasil"
                                        [(ngModel)]="resiko_hasil">
                                        <ion-option value="tidak beresiko">Tidak Beresiko (tidak ditemukan a dan b)</ion-option>
                                        <ion-option value="resiko rendah">Resiko Rendah (ditemukan a atau b)</ion-option>
                                        <ion-option value="resiko tinggi">Resiko Tinggi (ditemukan a dan b)</ion-option>
                                    </ion-select>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    Diberitahukan ke dokter :
                                </ion-col>
                                <ion-col>
                                    <ion-row radio-group formControlName="beritahuDokter" [(ngModel)]="beritahuDokter">
                                        <ion-col col-6>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Tidak</ion-label>
                                                <ion-radio item-left value="tidak"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col col-6>
                                            <ion-item class="item-checklist">
                                                <ion-label class="label-checklist">Ya</ion-label>
                                                <ion-radio item-left value="ya"></ion-radio>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col>
                                    <!-- <ion-input class="pregnancy-input"   formControlName="beritahuDokter_pukul" value="{{ kaji.beritahuDokter_pukul }}" type="text" placeholder="Pukul"></ion-input> -->
                                    <ion-datetime placeholder="-Pilih Waktu-" class="pregnancy-datekontrol" formControlName="beritahuDokter_pukul" displayFormat="HH.mm"
                                        pickerFormat="HHmm" [(ngModel)]="beritahuDokter_pukul"></ion-datetime>
                                </ion-col>
                            </ion-row>

                        </ion-grid>
                    </div>

                    <hr class="separator">
                    <ion-card-header>
                        <strong>8. STATUS FUNSGIONAL</strong>
                        <span class="showhide">
                            <ion-icon color="darkblue" name="{{ tab_statusFungsional == false ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}" (click)="showForm('tab_statusFungsional')"></ion-icon>
                        </span>
                    </ion-card-header>
                    <div *ngIf="tab_statusFungsional">
                        <ion-grid>
                            <ion-row radio-group formControlName="aktivitas" [(ngModel)]="aktivitas">
                                <ion-col>Aktivitas dan Mobilitas</ion-col>
                                <ion-col>
                                    <ion-item class="item-checklist">
                                        <ion-label class="label-checklist">Mandiri</ion-label>
                                        <ion-radio item-left value="mandiri"></ion-radio>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item class="item-checklist">
                                        <ion-label class="label-checklist">Perlu Bantuan</ion-label>
                                        <ion-radio item-left value="perlu bantuan"></ion-radio>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-input class="pregnancy-input" formControlName="aktivitas_ket" value="{{ kaji.aktivitas_ket }}" type="text" placeholder="Sebutkan"></ion-input>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-3>Alat Bantu</ion-col>
                                <ion-col col-3>
                                    <ion-input class="pregnancy-input" formControlName="alatBantu" value="{{ kaji.alatBantu }}" type="text" placeholder="Sebutkan"></ion-input>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    Bila terdapat gangguan fungsional, pasien dikonsul ke Rehabilitasi Medis melalui DPJP
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>

                    <hr class="separator">
                    <ion-card-header>
                        <strong>9. SKALA NYERI</strong>
                        <span class="showhide">
                            <ion-icon color="darkblue" name="{{ tab_skala == false ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}" (click)="showForm('tab_skala')"></ion-icon>
                        </span>
                    </ion-card-header>
                    <div *ngIf="tab_skala">
                        <ion-grid>
                            <ion-row>
                                <ion-col>Nyeri kronis</ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-label>Lokasi</ion-label>
                                        <ion-input class="pregnancy-input" formControlName="kronis_lokasi" value="{{ kaji.kronis_lokasi }}" type="text" placeholder=".........."></ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-label>Frekuensi</ion-label>
                                        <ion-input class="pregnancy-input" formControlName="kronis_frek" value="{{ kaji.kronis_frek }}" type="text" placeholder=".........."></ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-label>Durasi</ion-label>
                                        <ion-input class="pregnancy-input" formControlName="kronis_durasi" value="{{ kaji.kronis_durasi }}" type="text" placeholder=".........."></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>Nyeri akut</ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-label>Lokasi</ion-label>
                                        <ion-input class="pregnancy-input" formControlName="akut_lokasi" value="{{ kaji.akut_lokasi }}" type="text" placeholder=".........."></ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-label>Frekuensi</ion-label>
                                        <ion-input class="pregnancy-input" formControlName="akut_frek" value="{{ kaji.akut_frek }}" type="text" placeholder=".........."></ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col>
                                    <ion-item>
                                        <ion-label>Durasi</ion-label>
                                        <ion-input class="pregnancy-input" formControlName="akut_durasi" value="{{ kaji.akut_durasi }}" type="text" placeholder=".........."></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-6>
                                    <ion-item>1 - 3 : Nyeri ringan, analgetik oral</ion-item>
                                    <ion-item>4 - 7 : Nyeri sedang, perlu analgetik injeksi</ion-item>
                                    <ion-item>8 - 10 : Nyeri berat, konsul tim nyeri</ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-item>
                                    <ion-range formControlName="skor_nyeri" [(ngModel)]="skor_nyeri" min="0" max="10" step="1" snaps="true" pin="true">
                                        <ion-icon range-left small>Tidak Nyeri</ion-icon>
                                        <ion-icon range-right small>Nyeri</ion-icon>
                                    </ion-range>
                                </ion-item>
                            </ion-row>
                            <ion-row>
                                <br>
                            </ion-row>
                            <ion-row>
                                <ion-col col-3>
                                    Nyeri Hilang
                                </ion-col>
                                <ion-col col-5>
                                    <ion-select class="pregnancy-input" interface="popover" placeholder="-Pilih Jenis Nyeri Hilang-" formControlName="nyeriHilang"
                                        [(ngModel)]="nyeriHilang">
                                        <ion-option value="minum obat">Minum Obat</ion-option>
                                        <ion-option value="istirahat">Istirahat</ion-option>
                                        <ion-option value="mendengar musik">Mendengar Musik</ion-option>
                                        <ion-option value="berubah posisi tidur">Berubah Posisi Tidur</ion-option>
                                        <ion-option value="lainnya">Lain-lain</ion-option>
                                    </ion-select>
                                </ion-col>
                                <ion-col col-3>
                                    <ion-input class="pregnancy-input" *ngIf="nyeriHilang === 'lainnya'" formControlName="nyeriHilang_lainnya" value="{{nyeriHilang_lainnya}}"
                                        type="text" placeholder="Sebutkan"></ion-input>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>

                    <hr class="separator">
                    <ion-card-header>
                        <strong>10. NUTRISI</strong>
                        <span class="showhide">
                            <ion-icon color="darkblue" name="{{ tab_nutrisi == false ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}" (click)="showForm('tab_nutrisi')"></ion-icon>
                        </span>
                    </ion-card-header>
                    <div *ngIf="tab_nutrisi">
                        <ion-grid>
                            <ion-row>

                            </ion-row>
                        </ion-grid>
                    </div>

                    <hr class="separator">
                    <ion-card-header>
                        <strong>11. KOMENTAR</strong>
                        <span class="showhide">
                            <ion-icon color="darkblue" name="{{ tab_komentar == false ? 'arrow-dropdown-circle' : 'arrow-dropup-circle' }}" (click)="showForm('tab_komentar')"></ion-icon>
                        </span>
                    </ion-card-header>
                    <div *ngIf="tab_komentar">
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-textarea placeholder="1"></ion-textarea>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-textarea placeholder="2"></ion-textarea>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                    <button *ngIf="!nokaji" (click)="submitPengkajian(midwifeReviewForm.value)" ion-button block>SIMPAN PENGKAJIAN</button>
                    <button *ngIf="nokaji" (click)="updateSubmitPengkajian(midwifeReviewForm.value)" ion-button block>UBAH PENGKAJIAN</button>
                </form>
            </ion-card>
        </ion-list>
    </div>
</ion-content>