<ion-header>
  <ion-navbar color="dark-blue">
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col col-1>
            <button ion-button color="dark-blue" (click)="backPage()" class="backButton">
              <ion-icon name="md-arrow-back"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            Riwayat Kehamilan
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content-wrapper" [virtualScroll]="riwayat_kehamilan" style="height: 100%">
  <ion-card padding class="form-card" *virtualItem="let kaji">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label fixed>Nama</ion-label>
            <ion-input class="boldtext" type="text" readonly value="{{ patientName }}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label fixed>No. RM</ion-label>
            <ion-input class="boldtext" type="text" readonly value="{{ no_medrec }}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label fixed>Tanggal Lahir</ion-label>
            <ion-input class="boldtext" type="text" readonly value="{{ birthDate }}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr class="separator">
    <form [formGroup]="pregnancyForm">
      <ion-card-header>
        <strong>Tanggal/Tahun Partus</strong>
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input type="text" formControlName="tanggal" value="{{ kaji.tanggal }}" placeholder="Tanggal / Tahun"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr class="separator">
      <ion-card-header>
        <strong>Tempat Partus</strong>
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input type="text" formControlName="tempat" value="{{ kaji.tempat }}" placeholder="Tempat"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr class="separator">
      <ion-card-header>
        <strong>Umur Kehamilan</strong>
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input type="text" formControlName="umur" value="{{ kaji.umur }}" placeholder="Umur"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr class="separator">
      <ion-card-header>
        <strong>Jenis Persalinan</strong>
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input type="text" formControlName="jenis" value="{{ kaji.jenis }}" placeholder="Jenis"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr class="separator">
      <ion-card-header>
        <strong>Penolong</strong>
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input type="text" formControlName="penolong" value="{{ kaji.penolong }}" placeholder="Penolong"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr class="separator">
      <ion-card-header>
        <strong>Penyulit</strong>
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input type="text" formControlName="penyulit" value="{{ kaji.penyulit }}" placeholder="Penyulit"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr class="separator">
      <ion-card-header>
        <strong>Anak</strong>
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <ion-item>
              JK :
            </ion-item>
          </ion-col>
          <ion-col col-4>
            <ion-item >
              <ion-input type="text" formControlName="anak_jk" value="{{ kaji.anak_jk }}" placeholder="Jenis Kelamin(L/P)"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            <ion-item>
              BB :
            </ion-item>
          </ion-col>
          <ion-col col-4>
            <ion-item>
              <ion-input type="text" formControlName="anak_bb" value="{{ kaji.anak_bb }}" placeholder="Berat Badan(kg)"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            <ion-item>
              PB :
            </ion-item>
          </ion-col>
          <ion-col col-4>
            <ion-item>
              <ion-input type="text" formControlName="anak_pb" value="{{ kaji.anak_pb }}" placeholder="Panjang Badan(cm)"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr class="separator">
      <ion-card-header>
        <strong>Nifas</strong>
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input type="text" formControlName="nifas" value="{{ kaji.nifas }}" placeholder="NIfas"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr class="separator">
      <ion-card-header>
        <strong>Keadaan Anak Sekarang</strong>
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input type="text" formControlName="keadaan" value="{{ kaji.keadaan }}" placeholder="Keadaan Sekarang"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <button *ngIf="index == 'new'" (click)="submitPengkajian(pregnancyForm.value)" ion-button block>SIMPAN PENGKAJIAN</button>
      <button *ngIf="index != 'new'" (click)="submitPengkajian(pregnancyForm.value)" ion-button block>UBAH PENGKAJIAN</button>
    </form>

    <!-- <ion-input type="text" formControlName="keluhan" value="{{ kaji.keluhan }}" placeholder="Keluhan"></ion-input> -->
  </ion-card>
</ion-content>