<ion-card>
    <ion-card-header class="header-card">
        <!-- HEADER PANGGIL PASIEN PRIORITAS -->
        <span class="circle-badge">2</span>
        <strong>PANGGIL PASIEN PRIORITAS</strong>
        <span class="click-info" (click)="presentToast(2)">(Klik Untuk Informasi)</span>
    </ion-card-header>
    <ion-row>
        <ion-col>
            <ion-list>
                <ion-item>
                    <ion-label>JUMLAH PANGGILAN</ion-label>
                    <ion-select [(ngModel)]="countOfCall" #selectPasien>
                        <ion-option value="1">1 ORANG</ion-option>
                        <ion-option value="3">3 ORANG</ion-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-col>
        <ion-col>
            <button ion-button color="dark-blue" (click)="doCallPatient(selectPasien.value)">PANGGIL</button>
        </ion-col>
    </ion-row>
</ion-card>
<!-- END CARD PANGGIL PASIEN PRIORITAS -->
<!-- CARD ANTRIAN YANG AKAN DIPANGGIL -->
<ion-card>
    <ion-card-header class="header-card">
        <!-- HEADER ANTRIAN YANG AKAN DIPANGGIL -->
        <span class="circle-badge">3</span>
        <strong>ANTRIAN YANG AKAN DIPANGGIL</strong>
        <span class="click-info" (click)="presentToast(3)">(Klik Untuk Informasi)</span>
    </ion-card-header>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div *ngIf="showQueue">
                    <ion-list>
                        <ion-item-sliding *ngFor="let waitinglist of dataWaitingList;let i = index">
                            <button ion-item>
                                <ion-row class="rowlist">
                                    <ion-col col-1 text-center> {{ waitinglist.no_antrian }} </ion-col>
                                    <ion-col>
                                        <img class="avatar-pasien" src="assets/img/{{ waitinglist.kelamin == 'L' ? 'male.png' : 'female.png' }}">
                                    </ion-col>
                                    <ion-col col-9>
                                        <ion-row>
                                            <ion-col>
                                                {{ waitinglist.nama_pasien }}
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col>
                                                <h6>No RM : {{ waitinglist.no_medrec }}</h6>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                </ion-row>
                            </button>
                            <ion-item-options>
                                <button *ngIf="waitinglist.status_pasien=='pending'" class="btn-available" (click)="changeStatusPatientCall(i,'ada')">
                                    <ion-icon name="checkmark-circle"></ion-icon> Ada</button>
                                <button *ngIf="waitinglist.status_pasien=='ada'" class="btn-pending" (click)="changeStatusPatientCall(i,'pending')">
                                    <ion-icon name="time"></ion-icon> Pending</button>
                            </ion-item-options>
                        </ion-item-sliding>
                    </ion-list>
                </div>
                <div *ngIf="!showQueue" text-center>
                    Tidak ada Antrian yang akan dipanggil
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>